<div class="row" style="justify-content: center;" >
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <%# <%= form_for :realization_visit_plan, url: realization_visit_plans_create_path, method: :post, html: {class: "form-horizontal", role: "form"} do |f| %> 
        <%= form_for @realization_visit_plan, multipart: true do |f| %>
          <% if @realization_visit_plan.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@realization_visit_plan.errors.count, "error") %> prohibited this  from being saved:</h2>
              <ul>
              <% @realization_visit_plan.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <%# <input type="hidden" name="sales_id" value="<%= params[:id] %>
          <%# "> %> 
          <%= f.hidden_field :sales_visit_plan_id, class: 'form-control' %>
          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Nama Entitas/Lokasi Pengadaan</label>
                <% if @realization_visit_plan.new_record?%>
                  <select data-placeholder="Pilih Nama Entitas" class="form-control selectProject id_100" id="sales_plan"  data-live-search="true" onclick="select_project()">
                    <%= raw(getSalesPlan)%>
                  </select>
                <% else %>
                <%# <%= @realization_visit_plan.nama_entitas_lokasi_pengadaan.inspect%>
                  <select data-placeholder="Pilih Nama Entitas" class="form-control selectProject " id="sales_plan"  data-live-search="true" onclick="select_project()">
                     <%if @realization_visit_plan.nama_entitas_lokasi_pengadaan.present?%>
                       <%= raw(getSalesPlanById(@realization_visit_plan.nama_entitas_lokasi_pengadaan))%>
                    <% else %>
                      <%= raw(getSalesPlan)%>
                    <% end %>
                  </select>
                <% end %>
<%
=begin%>                
              <select data-placeholder="Pilih Nama Entitas" class="form-control selectProject id_100" id="sales_plan"  onclick="select_project()">
               <option value="1">--Pilih--</option>
                <%= raw(getSalesPlan)%>
              </select>
<%
=end%>       
            </div>
          </div>

           <input type="hidden" id="realization_visit_plan_nama_entitas" name="realization_visit_plan[nama_entitas_lokasi_pengadaan]">


          <div class="form-row">
            <div class="form-group col">
              <label>Kategori*</label>
              <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "-- Pilih Kategori --"}, class: 'form-control', id: 'category'  %>
            </div>
          </div>

          <%# <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Nama Entitas/Lokasi Pengadaan</label> %>
                <%# <%= f.collection_select :nama_entitas_lokasi_pengadaan, SalesVisitPlan.all, :nama_entitas_lokasi_pengadaan, :nama_entitas_lokasi_pengadaan, {prompt: "-- Pilih Nama Entitas --", :onclick => "select_project()"}, class: 'form-control selectProject', id: 'realization_visit_plan' %> 
              <%# <%= f.text_field :nama_entitas_lokasi_pengadaan, class: "form-control" %>
            <%# </div>
          </div> %>

          <%# test %>
<%
=begin 
%>
          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Kategori</label>
              <%= f.text_field :category_id, class: 'form-control', :readonly => true %>
              <%# <%= f.text_field :subjek_deksripsi_pekerjaan, class: "form-control" %> 
            </div>
          </div>
<%
=end 
%>
          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Subjek Deksripsi Pekerjaan</label>
              <%= f.text_field :subjek_deksripsi_pekerjaan, class: 'form-control', :readonly => false %>
              <%# <%= f.text_field :subjek_deksripsi_pekerjaan, class: "form-control" %> 
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Cluster</label>
              <%= f.text_field :cluster, class: 'form-control', :readonly => false %>
              <%# <%= f.text_field :subjek_deksripsi_pekerjaan, class: "form-control" %> 
            </div>
          </div>
          <%#  %>

                    <%# <div class="form-row"> %>
            <%# <div class="form-group col"> %>
              <%# <label for="intpuCluster">Subjek Deksripsi Pekerjaan</label> %>
               <%# <%= f.collection_select :subjek_deksripsi_pekerjaan, SalesVisitPlan.all, :deksripsi_pekerjaan, :deksripsi_pekerjaan, {prompt: "-- Pilih Deksripsi Pekerjaan --"}, class: 'form-control', id: 'realization_visit_plan' %> 
              <%# <%= f.text_field :subjek_deksripsi_pekerjaan, class: "form-control" %> 
            <%# </div>
          </div> %>

<%
=begin%>
          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Cluster</label>
              <%= f.collection_select :cluster, SalesVisitPlan.all, :cluster, :cluster, {prompt: "-- Pilih Cluster --"}, class: 'form-control', id: 'realization_visit_plan' %>             
              <%# <%= f.text_field :cluster, class: "form-control" %>
            </div>
          </div>
<%
=end%>
          <%# 
                    <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Realisasi</label> %>
              <%# <%= f.text_field :realisasi, class: "form-control" %>
            <%# </div>
          </div> %>
<%
=begin  %>
            <div class="form-row">
              <div class="form-group col">
                <label for="intpuCluster">Realisasi</label> 
                <%= f.text_field :realisasi, class: "form-control", :readonly => true%>
              </div>
            </div> 
<%
=end %>
             <div class="form-row">
             <div class="form-group col">
              <label for="intpuCluster">Realisasi</label>
              <%if @realization_visit_plan.new_record?%>
              <%= select_tag :pilihan, options_for_select(["Minggu 1", "Minggu 2", "Minggu 3", "Minggu 4"], params[:pilihan]), prompt: "-- Pilih --", class: "form-control",:required => true %>
              <%else%>
                  <%# <%= @cek_minggu.inspect%>
                  <select class="form-control" id="pilihan" value="<%=params[:pilihan]%>" onclick="select_pekerja()">
                   <% if  @realization_visit_plans.realisasi.present?  %>
                      <%if @realization_visit_plans.realisasi.eql? "Minggu 1"%>
                        <option value="<%=@realization_visit_plans.realisasi%>" selected><%=@realization_visit_plans.realisasi%></option>
                        <option value="Minggu 2">Minggu 2</option>
                        <option value="Minggu 3">Minggu 3</option>
                        <option value="Minggu 4">Minggu 4</option>
                      <%elsif @realization_visit_plans.realisasi.eql? "Minggu 2"%>
                        <option value="Minggu 1">Minggu 1</option>
                        <option value="<%=@realization_visit_plans.realisasi%>" selected><%=@realization_visit_plans.realisasi%></option>
                        <option value="Minggu 3">Minggu 3</option>
                        <option value="Minggu 4">Minggu 4</option>
                      <%elsif @realization_visit_plans.realisasi.eql? "Minggu 3"%>
                        <option value="Minggu 1">Minggu 1</option>
                        <option value="Minggu 2">Minggu 2</option>
                        <option value="<%=@realization_visit_plans.realisasi%>" selected><%=@realization_visit_plans.realisasi%></option>
                        <option value="Minggu 4">Minggu 4</option>
                      <%else%>
                        <option value="Minggu 1">Minggu 1</option>
                        <option value="Minggu 2">Minggu 2</option>
                        <option value="Minggu 3">Minggu 3</option>
                        <option value="<%=@realization_visit_plans.realisasi%>" selected><%=@realization_visit_plans.realisasi%></option>
                      <%end%>
                    <% else %>
                      <option value="Minggu 1">Minggu 1</option>
                      <option value="Minggu 2">Minggu 2</option>
                      <option value="Minggu 3">Minggu 3</option>
                      <option value="Minggu 4">Minggu 4</option>
                   <% end %>
                  </select>
              <%end%>  
             </div>
           </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Realisasi Tgl Pertemuan</label>
              <%= f.date_field :realisasi_tgl_peretemuan, class: "form-control" %>
            </div>
          </div>

          <%# <input type="hidden" id="sales_visit_plan_id" class="id-sales"> %>
          
   
          <div class="form-group">
            <label>Upload Materi</label>
            <%= f.file_field :file_lampiran, class: "form-control multi-pt", direct_upload: true, accept: 'image/jpeg, image/jpg, image/png, application/pdf', multiple: true%>
            <div style="margin-top: 10px;" value="<%= params[:id] %>" class="pilih">
              <% if @sales_visit_plan = SalesVisitPlan.find_by(id: params[:id])
              @sales_visit_plan.file_lampiran.include? %>
                <% @realization_visit_plan.file_lampiran.each do |lampiran| %>
                <span style="margin-right: 10px">
                    <%= link_to "#{[ "#{lampiran.filename}" ]}", rails_blob_path(lampiran, disposition: 'preview'), :target => "_blank" %>
                  <%= link_to '', url_for(controller: :activity_sales, action: :delete_lampiran, attachment_id: lampiran.id), class: 'fa-trash-alt', method: "DELETE", data: { confirm: 'Are you sure?' } %>
                  <br>
                </span>
                <% end %>
              <% end %>
            </div>
          </div>
       

           <%# <%= f.hidden_field :sales_id,class: 'form-control', :readonly => true %>
           
          <div class="form-group">
           <button type="submit" class="btn btn-primary px-3 pull-right">Submit</button>
            <a href="<%= activity_sales_path %>" class="btn btn-light pull-left">Cancel</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    
  // $('#sales_plan').select2();
    $('#sales_plan').select2({
    // selectOnClose: true
    templateSelection: formatState
    });
    function formatState (state) {
      if (!state.id) {
        return state.text;
      }

      var baseUrl = "/user/pages/images/flags";
      var $state = $(
        '<span><img class="img-flag" /> <span></span></span>'
      );

      // Use .text() instead of HTML string concatenation to avoid script injection issues
      $state.find("span").text(state.text);
      // $state.find("img").attr("src", baseUrl + "/" + state.element.value.toLowerCase() + ".png");

      
      return $state;
    };

     
    select_project();
    function select_project() {
      
        $('.selectProject').change(function(){
            if ($(this).val() !== '') {
                const value = $(this).val();
                const array = value.split(" | ") //https://www.w3schools.com/jsref/jsref_split.asp
                $('#realization_visit_plan_subjek_deksripsi_pekerjaan').val(array[2]);
                $('#category').val(array[1]);
                // $('#realization_visit_plan_realisasi').val(array[4]);
                $('#pilihan').val(array[4]);
                $('#realization_visit_plan_nama_entitas').val(array[0]);
                $('#realization_visit_plan_sales_visit_plan_id').val(array[5]);
                $('#realization_visit_plan_cluster').val(array[3]);
                // $('#realization_visit_plan_lampiran').val(array[5]);
                // $('#worker_lokasi').val(array[2]);
                // console.log(array[4])
                
            }
        });
    $('.id_100').val(1).change();  
    }



  
</script>