<p id="notice"><%= notice %></p>

<h1>Realization Visit Plans</h1>

<table>
  <thead>
    <tr>
      <th>Nama entitas lokasi pengadaan</th>
      <th>Subjek deksripsi pekerjaan</th>
      <th>Cluster</th>
      <th>Realisasi</th>
      <th>Realisasi tgl peretemuan</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realization_visit_plans.each do |realization_visit_plan| %>
      <tr>
        <td><%= realization_visit_plan.nama_entitas_lokasi_pengadaan %></td>
        <td><%= realization_visit_plan.subjek_deksripsi_pekerjaan %></td>
        <td><%= realization_visit_plan.cluster %></td>
        <td><%= realization_visit_plan.realisasi %></td>
        <td><%= realization_visit_plan.realisasi_tgl_peretemuan %></td>
        <td><%= realization_visit_plan.category %></td>
        <td><%= link_to 'Show', realization_visit_plan %></td>
        <td><%= link_to 'Edit', edit_realization_visit_plan_path(realization_visit_plan) %></td>
        <td><%= link_to 'Destroy', realization_visit_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Realization Visit Plan', new_realization_visit_plan_path %>
