<style>
 .modal-backdrop { display: none; } 
 /* .modal { background: rgba(0,0,0,0.5); }  */
</style>

<div class="container-fluid">
  <%# Rencana %>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h4>Rencana Kunjungan Sales</h4>
      <div class="card-header-form">
      
        <% if current_user.can? { |permissions| permissions.sales_visit_plan.create? } %>
        <div class="align-items-center">
          <a href="<%= new_sales_visit_plan_path %>" class="btn btn-primary btn-sm">+ Tambah Data</a>
        </div>
        <% end %>  
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="tableExport_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
          <table id="dataTable_sales_visit_plans" class="table table-bordered plans" >  
            <%# filter %>
            <%= form_tag(:action => :index) do %>
            <div class="row">
              <%= select_tag "sales_visit_plan", options_for_select(@category),{class: "form-control select col-md-2 ml-2 filter_category_plan" ,prompt: "-- Pilih Kategori --"} %>
              <%= select_tag "sales_visit_plan", options_for_select(@cluster_plan),{class: "form-control select col-md-2 ml-2 filter_cluster_plan" ,prompt: "-- Pilih Cluster --"} %>
              <%= select_month(Date.today, {:prompt => "-- Pilih Bulan --"},{class: "form-control select col-md-2 ml-2 filter_month_plan"}) %>
            </div>
            <% end %>
            <br>  
            <thead>
                <tr>
                  <th class="text-center" style="width: 12px;">No</th>
                  <th>Nama Entitas/Lokasi Pengadaan</th>
                  <th>Kategori</th>
                  <th>Jenis Pekerjaan</th>
                  <th>Deskripsi Pekerjaan</th>
                  <th>Cluster</th>
                  <th>Minggu 1</th>
                  <th>Minggu 2</th>
                  <th>Minggu 3</th>
                  <th>Minggu 4</th>
                  <th>Estimasi Tanggal Pertemuan</th>
                  <th>Lampiran</th>
                  <th style="display:none;">Estimasi tgl peretemuan</th>
                  <th class="text-center" style="width: 100px;">Aksi</th>
                </tr>
            </thead>
            <tbody>
            <% @sales_visit_plans.each_with_index do |sales_visit_plan, index| %>
                <tr>
                  <td class="text-center"><%= index+1 %></td>
                  <td class="text-center"><%= sales_visit_plan.nama_entitas_lokasi_pengadaan %></td>
<%
=begin
%>
                  <td><%= sales_visit_plan.data_company.try(:nama_entitas) %></td>
<%
=end
%>
                  <td><%= sales_visit_plan.category.try(:name)%></td>
                  <td><%= sales_visit_plan.try(:jenis_pekerjaan) %></td>
                  <td><%= sales_visit_plan.try(:deksripsi_pekerjaan) %></td>
                  <td><%= sales_visit_plan.try(:cluster) %></td>
                  <%# <td><%= sales_visit_plan.nama %>
                  <%# </td> %>
                  <td><%= sales_visit_plan.try(:minggu1) %></td>
                  <td><%= sales_visit_plan.try(:minggu2) %></td>
                  <td><%= sales_visit_plan.try(:minggu3) %></td>
                  <td><%= sales_visit_plan.try(:minggu4) %></td>
                  <td><%= sales_visit_plan.try(:estimasi_tgl_peretemuan) %></td>
                  <td>
                

                    <!-- Modal -->
                  <% if sales_visit_plan.file_lampiran.attached? %>
                   <!-- Button trigger modal -->
                     <a data-toggle="modal" data-target="#exampleModal" class="fas fa-eye"></a>
                   <% sales_visit_plan.file_lampiran.each do |lampiran| %>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"><%=lampiran.filename%></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <span style="margin-right: 10px">
                            <%# <%= link_to "", rails_blob_path(lampiran, disposition: 'preview'), :target => "_bnk"  %> 
                            <%# <%= image_tag(lampiran) %> 
                            <%= image_tag(lampiran, size: "350x250", class:"img-fluid rounded mx-auto d-block")%>
                              <br>
                            </span>
                          
                          </div>
                          <div class="modal-footer">
                            <%# <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> %>
                            <%# <button type="button" class="btn btn-primary">Download</button> %>
                            
                            <%= link_to 'Download', rails_blob_path(lampiran, disposition: "attachment"), :class => "btn btn-primary" %>
                          </div>
                        </div>
                      </div>
                    </div>
                   <% end %>
                  <% end %>
                  </td>
                  <td style="display:none;"><%= sales_visit_plan.estimasi_tgl_peretemuan.strftime("%m") %></td>
                  <td class="text-center">
                    <% if current_user.can? { |permissions| permissions.sales_visit_plan.read? } %>
                    <a href="<%= sales_visit_plan_path(sales_visit_plan) %>" class="btn btn-info btn-circle btn-sm">
                      <i class="fas fa-eye"></i>
                    </a>
                    <% end %>
                    <% if current_user.can? { |permissions| permissions.sales_visit_plan.update? } %>
                    <a href="<%= edit_sales_visit_plan_path(sales_visit_plan) %>" class="btn btn-warning btn-circle btn-sm">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
                    <% end %>
                    <% if current_user.can? { |permissions| permissions.sales_visit_plan.destroy? } %>
                    <a href="<%= sales_visit_plan_path(sales_visit_plan) %>" class="btn btn-danger btn-circle btn-sm" data-method="DELETE" data-confirm="Are you sure?">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                    <% end %>
                  </td>
                </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>  

  <%# Realisasi %>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h4>Realisasi Kunjungan Sales</h4>
      <div class="card-header-form">
        <% if current_user.can? { |permissions| permissions.realization_visit_plan.create? } %>
        <div class="align-items-center">
          <a href="<%= new_realization_visit_plan_path%>" class="btn btn-primary btn-sm">+ Tambah Data</a> 
        </div>
        <% end %>  
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="tableExport_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
          <table id="dataTable_realisasi_visit_plans" class="table table-bordered" >  
            <%# filter %>
            <%= form_tag(:action => :index) do %>
            <div class="row">
              <%= select_tag "realisasi_visit_plan", options_for_select(@category),{class: "form-control select col-md-2 ml-2 filter_category_realisasi" ,prompt: "-- Pilih Kategori --"} %>
              <%# <%= select_tag 'date_month', options_for_select((1..12).collect{ |i| "%02d" % i }) ,{class: "form-control select col-md-2 ml-2 filter2" ,prompt: "-- Pilih Kategori --"}%>
              <%= select_tag "realisasi_visit_plan", options_for_select(@cluster_realisasi),{class: "form-control select col-md-2 ml-2 filter_cluster_realisasi" ,prompt: "-- Pilih Cluster --"} %>
              <%= select_month(Date.today, {:prompt => "-- Pilih Bulan --"},{class: "form-control select col-md-2 ml-2 filter_month_realisasi"}) %> 
            </div>
            <% end %>
            <br>  
            <thead>
                <tr>
                  <th class="text-center" style="width: 12px;">No</th>
                  <th>Nama Entitas/Lokasi Pengadaan</th>
                  <th>Kategori</th>
                  <th>Jenis Pekerjaan</th>
                  <th>Deskripsi Pekerjaan</th>
                  <th>Cluster</th>
                  <th>Minggu 1</th>
                  <th>Minggu 2</th>
                  <th>Minggu 3</th>
                  <th>Minggu 4</th>
                  <th>Realisasi Tanggal Pertemuan</th>
                  <th>Lampiran</th>
                  <th style="display:none;">Realisasi tgl peretemuan</th>
                  <th class="text-center" style="width: 100px;">Aksi</th>
                </tr>
            </thead>
            <tbody>
            <% @realization_visit_plans.each_with_index do |realization_visit_plan, index| %>
                <tr>
                  <td class="text-center"><%= index+1 %></td>
                  <td><%= realization_visit_plan.nama_entitas_lokasi_pengadaan %></td>
                  <td><%= realization_visit_plan.category.try(:name) %></td>
                  <td></td>
                  <td><%= realization_visit_plan.subjek_deksripsi_pekerjaan %></td>
                  <td><%= realization_visit_plan.cluster %></td>
                  <td><%if realization_visit_plan.realisasi == "Minggu 1"%> Minggu 1<%end%></td>
                  <td><%if realization_visit_plan.realisasi == "Minggu 2"%> Minggu 2<%end%></td>
                  <td><%if realization_visit_plan.realisasi == "Minggu 3"%> Minggu 3<%end%></td>
                  <td><%if realization_visit_plan.realisasi == "Minggu 4"%> Minggu 4<%end%></td>
                  <td><%= realization_visit_plan.realisasi_tgl_peretemuan.strftime("%d/%m/%y") %></td>
                  <td>
                      <!-- Modal -->
                    <% if realization_visit_plan.file_lampiran.attached? %>
                    <!-- Button trigger modal -->
                      <a data-toggle="modal" data-target="#exampleModal" class="fas fa-eye"></a>
                    <% realization_visit_plan.file_lampiran.each do |lampiran| %>
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel"><%=lampiran.filename%></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <span style="margin-right: 10px">
                              <%# <%= link_to "", rails_blob_path(lampiran, disposition: 'preview'), :target => "_bnk"  %> 
                              <%# <%= image_tag(lampiran) %> 
                              <%= image_tag(lampiran, size: "350x250", class:"img-fluid rounded mx-auto d-block")%>
                                <br>
                              </span>
                            
                            </div>
                            <div class="modal-footer">
                              <%# <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> %>
                              <%# <button type="button" class="btn btn-primary">Download</button> %>
                              
                              <%= link_to 'Download', rails_blob_path(lampiran, disposition: "attachment"), :class => "btn btn-primary" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                    <% end %>
                  </td>
                  <td style="display:none;"><%= realization_visit_plan.realisasi_tgl_peretemuan.strftime("%m") %></td>
                  <td class="text-center">
                    <% if current_user.can? { |permissions| permissions.realization_visit_plan.read? } %>
                    <a href="<%= realization_visit_plan_path(realization_visit_plan) %>" class="btn btn-info btn-circle btn-sm">
                      <i class="fas fa-eye"></i>
                    </a>
                    <% end %>
                    <% if current_user.can? { |permissions| permissions.realization_visit_plan.update? } %>
                    <a href="<%= edit_realization_visit_plan_path(realization_visit_plan) %>" class="btn btn-warning btn-circle btn-sm">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
                    <% end %>
                    <% if current_user.can? { |permissions| permissions.realization_visit_plan.destroy? } %>
                    <a href="<%= realization_visit_plan_path(realization_visit_plan) %>" class="btn btn-danger btn-circle btn-sm" data-method="DELETE" data-confirm="Are you sure?">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                    <% end %>
                  </td>
                </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>  
</div>


<script>


    $(document).ready(function() {
        // rencana
        var table1 = $('#dataTable_sales_visit_plans').DataTable()
          // category
          $('.filter_category_plan').on('change', function(e){
            var category = $(this).val();
            $('.filter_category_plan').val(category)
            console.log(category)
            //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
            table1.column(2).search(category).draw();
          });
          // cluster
          $('.filter_cluster_plan').on('change', function(e){
            var cluster = $(this).val();
            $('.filter_cluster_plan').val(cluster)
            console.log(cluster)
            //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
            table1.column(5).search(cluster).draw();
          });
          // month
          $('.filter_month_plan').on('change', function(e){
            var month = $(this).val();
            $('.filter_month_plan').val(month)
            console.log(month)
            //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
            table1.column(12).search(month).draw();
        });
        // realisasi
        $("#dataTable_realisasi_visit_plans").dataTable();
        var table2 = $('#dataTable_realisasi_visit_plans').DataTable()
          // category
          $('.filter_category_realisasi').on('change', function(e){
            var category = $(this).val();
            $('.filter_category_realisasi').val(category)
            console.log(category)
            //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
            table2.column(2).search(category).draw();
          });
          // cluster
          $('.filter_cluster_realisasi').on('change', function(e){
            var cluster = $(this).val();
            $('.filter_cluster_realisasi').val(cluster)
            console.log(cluster)
            //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
            table2.column(4).search(cluster).draw();
          });
          // month
          $('.filter_month_realisasi').on('change', function(e){
            var month = $(this).val();
            $('.filter_month_realisasi').val(month)
            console.log(month)
            //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
            table2.column(12).search(month).draw();
        });

    });


</script>
