<style>
 .modal-backdrop { display: none; } 
 /* .modal { background: rgba(0,0,0,0.5); }  */
 .move-left{
    display: block;
    float: left;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
</style>

<div class="container-fluid">
  <%# Rencana %>
  <div class="card shadow mb-4">
    <%# <div class="card-header py-3">
      <h4>Rencana Kunjungan Sales</h4>
      <div class="card-header-form download_wrapper" id="download_wrapper" > %>
      <%# add %>
      <%# </div> %>
    <%# </div> %>
    
    <div class="card-body">
      <div class="table-responsive">
        <div id="tableExport_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
          <table id="dataTable_status_laporans" class="table table-bordered" >  
              <div class="card-body nopadding row">
                <div class="dropdown d-inline mr-2 col">
                 <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  -- Download --
                 </button>
                 <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                   <div class="m-2">
                      <%= link_to 'PDF', url_for(controller: :status_reports, action: :cetak_pdf, format: "pdf"), class: 'dropdown-item btn btn-danger', target: '_blank' %>
                     <%# <button class="dropdown-item btn btn-danger" href="#">PDF</button> %>
                   </div>
                   <div class="m-2">
                     <button class="dropdown-item btn btn-success" href="#">Excel</button>
                   </div>
                 </div>
                </div>
                <div class="">
                  <% if current_user.can? { |permissions| permissions.sales_visit_plan.create? } %>
                  <div class="align-items-center">
                    <a href="<%= new_sales_visit_plan_path %>" class="btn btn-primary btn-sm" >+ Tambah Data</a>
                  </div>
                  <% end %>  
                </div>
              </div>  
            <br>  
            <thead>
                <tr>
                  <th class="text-center" style="width: 12px;">No</th>
                  <th>Tanggal Aktivitas</th>
                  <th>Nama Entitas</th>
                  <th>Nama Aktivitas</th>
                  <th>Hasil Kunjungan</th>
                  <th>Lampiran</th>
                  <th>Tanggal Review</th>
                  <%# kondisi catatan hanya untuk sales %>
                  <th>Catatan</th>
                  <%# sstatus laporan untuk kadiv %>
                  <th>Status Laporan</th>
                  <th class="text-center" style="width: 200px;" >Aksi</th>
                </tr>
            </thead>
            <tbody>
            <% @status_laporan.each_with_index do |status_laporan, index| %>
                <tr>
                  <td class="text-center"><%= index+1 %></td>
                  <td><%=status_laporan.tgl_aktivitas %></td>
                  <td></td>
                  <td></td>
                  <td><%=status_laporan.realization_visit_plan.try(:subjek_deksripsi_pekerjaan)%></td>
                  <%# <td></td> %>
                  <%# <td><%= status_laporan.nama %>
                  <%# </td> %>
                  <td>
                     <!-- Modal -->
                  <% if status_laporan.realization_visit_plan.try(:file_lampiran).attached? %>
                   <!-- Button trigger modal -->
                     <a data-toggle="modal" data-target="#exampleModal" class="fas fa-eye"></a>
                   <% status_laporan.realization_visit_plan.try(:file_lampiran).each do |lampiran| %>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"><%=lampiran.filename%></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <span style="margin-right: 10px">
                            <%# <%= link_to "", rails_blob_path(lampiran, disposition: 'preview'), :target => "_bnk"  %> 
                            <%# <%= image_tag(lampiran, :size => '10%xauto') %> 
                            <%= image_tag(lampiran, size: "350x250", class:"img-fluid rounded mx-auto d-block")%>
                              <br>
                            </span>
                          
                          </div>
                          <div class="modal-footer">
                            <%# <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> %>
                            <%# <button type="button" class="btn btn-primary">Download</button> %>
                            
                            <%# <%= link_to 'Download', rails_blob_path(lampiran, disposition: "attachment"), :class => "btn btn-primary" %> 
                          </div>
                        </div>
                      </div>
                    </div>
                   <% end %>
                  <% end %>
                  </td>
                  <td><%=status_laporan.tgl_direview%></td>
                  <td><%=status_laporan.catatan%></td>
                  <td>
                  <%if status_laporan.status_laporan.to_i == 0%>
                    <%# <span>Belum Direview</span> %>
                    <a class="btn btn-icon icon-left btn-danger"><i class="fas "></i> Belum Direview</a>
                  <%else%>
                    <%# <span>Sudah Direview</span> %>
                    <a class="btn btn-icon icon-left btn-success"><i class="fas "></i> Sudah Direview</a>
                  <%end%>
                  </td>
                  </td>
                  <%# <td style="display:none;"><%= status_laporan.estimasi_tgl_peretemuan.strftime("%m") %>
                  <%# </td> %> 
                  <td class="text-center" >
                    <% if current_user.can? { |permissions| permissions.status_report.read? } %>
                    <a href="<%= status_report_path(status_laporan) %>" class="btn btn-info btn-circle btn-sm">
                      <i class="fas fa-eye"></i>
                    </a>
                    <% end %>
                    <% if current_user.can? { |permissions| permissions.status_report.update? } %>
                    <a href="<%= edit_status_report_path(status_laporan) %>" class="btn btn-warning btn-circle btn-sm">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
                    <% end %>
                    <% if current_user.can? { |permissions| permissions.status_report.destroy? } %>
                    <a href="<%= status_report_path(status_laporan) %>" class="btn btn-danger btn-circle btn-sm" data-method="DELETE" data-confirm="Are you sure?">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                    <% end %>
                    <% if current_user.can? { |permissions| permissions.status_report.download? } %>
                    <a href="<%= download_activity_sales_path(status_laporan , format: "pdf") %>" class="btn btn-success btn-circle btn-sm", target: '_blank' >
                      <i class="fas fa-download"></i>
                    </a>
                    <% end %>
                 
                  </td>
                </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>  
</div>


<script>
  $('#dataTable_status_laporans').DataTable();
  // $(document).ready(function() {
    //     // rencana
    //     var table1 = $('#dataTable_status_laporans').DataTable({ 
    //       paging: false,
    //       // ordering: false,
    //       // info: false,
    //           buttons: [
    //             {
    //                 extend: 'collection',
    //                 className: "btn btn-primary",
    //                 text: '-- Download --',
    //                 fieldSeparator: ';',
    //                 buttons: [
    //                     { 
    //                         className: "my-1",
    //                         extend: 'excel',
                          
    //                       //   exportOptions: {
    //                       //   rows: { selected: true }
    //                       // }
    //                     },
    //                     {
    //                         className: "my-1",
    //                         extend: 'pdf',
    //                         // title: 'My title' + '\n' + 'a new line', // judul folder
    //                          // custom format add text,dll
    //                         // customize: function(doc) {
    //                         //   doc.styles.title = {
    //                         //     color: 'red',
    //                         //     fontSize: '40',
    //                         //     background: 'blue',
    //                         //     alignment: 'center'
    //                         //   }   
    //                         // }
    //                     }
                        
    //                     // {
    //                     //     collectionTitle: 'Visibility control',
    //                     //     extend: 'colvis'
    //                     // }
    //                 ]
    //             }
    //           ],
    //           // columnDefs: [
    //           //   {
    //           //       targets: 0,
    //           //       checkboxes: {
    //           //         selectRow: true
    //           //       }
    //           //   }
    //           // ],
    //           // select: {
    //           //   style: 'multi'
    //           // },
    //           // order: [[1, 'asc']]
    //       });

    //       table1.buttons()
    //       .container()
    //       .appendTo( '#dataTable_status_laporans_wrapper .col-md-6:eq(0)');
          
         

    // });
</script>
