<div class="container-fluid">
  <div class="card shadow mb-4">
      <div class="card-header mt-2">
        <h4>Data Satuan Kerja</h4>
        <div class="card-header-form">
          <% if current_user.can? { |permissions| permissions.work_unit.create? } %>
            <div class="align-items-center">
              <%= link_to "+ Data Satuan Kerja", new_work_unit_path, class: "btn btn-primary btn-sm" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable_work_unit" id="table-1">
            <thead>
              <tr>
                <th style="width: 50px;" class="text-center">No</th>
                <th>Nama Satuan Kerja</th>
                <th style="width: 150px;" class="text-center">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% @work_units.each_with_index do |work_unit, index| %>
              <tr>
                <td style="width: 50px;" class="text-center"><%= index+1 %></td>
                <td><%= work_unit.name %></td>
                <td style="width: 150px;" class="text-center">
                  <% if current_user.can? { |permissions| permissions.work_unit.update? } %>
                  <a href="<%= edit_work_unit_path(work_unit) %>" class="btn btn-warning btn-sm">
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  <% end %>
                  <% if current_user.can? { |permissions| permissions.work_unit.destroy? } %>
                  <a href="<%= work_unit_path(work_unit) %>" class="btn btn-danger btn-sm" data-method="DELETE" data-confirm="Are you sure?">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
           </table>
        </div>
      </div>
  </div>
</div>

<script>
  $("#dataTable_work_unit").dataTable();
</script>