<style>
.bootstrap-tagsinput {
  white-space: nowrap;
  /* overflow: scroll; */
}
</style>
<div class="container-fluid">
 <%= form_for @status_report, multipart: true do |f| %>
  <div class="card shadow mb-4">
              <% if @status_report.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@status_report.errors.count, "error") %> prohibited this site_project from being saved:</h2>
              <ul>
              <% @status_report.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

    <div class="card-header py-3">
      <div class="row justify-content-between">
        <div class="col align-items-center pt-2">
          <h6 class="font-weight-bold">Review Aktivitas Sales </h6>
        </div>
      </div>
    </div>
    <br>
    <div class="card-body py-3">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th width="30%">1.Nama Entitas</th>
            <td colspan="3"><%=@status_report.realization_visit_plan.try(:nama_entitas_lokasi_pengadaan)%></td>
          </tr>
          <tr>
            <th width="30%">2.Alamat</th>
            <td colspan="3"><%=@status_report.realization_visit_plan.sales_visit_plan.data_company.try(:alamat)%></td>
          </tr>
            <td>
              <th colspan="1">Telephone/Fax</th>
              <td colspan="1"> <%= 
             @status_report.realization_visit_plan.sales_visit_plan.data_company.nil? ? "" :  @status_report.realization_visit_plan.sales_visit_plan.data_company.contact.try(:kontak_pic)

              %> </td>
            </td>
          <tr>
            <td>
              <th colspan="1">Email</th>
              <td colspan="1">
              <%=
              @status_report.realization_visit_plan.sales_visit_plan.data_company.nil? ? "" :
              @status_report.realization_visit_plan.sales_visit_plan.data_company.contact.try(:emaiil_pic)%></td>
            </td>
          </tr>
          <tr>
            <td>
              <th colspan="1">Website</th>
              <td colspan="1"><%=@status_report.realization_visit_plan.sales_visit_plan.data_company.try(:website)%></td>
            </td>
          </tr>
          <tr>
            <th width="30%">3.Hari/Tanggal</th>
            <td colspan="3"><%=@status_report.realization_visit_plan.try(:realisasi_tgl_peretemuan)%></td>
          </tr>
          <tr>
            <th width="30%">4.Personil PGAS</th>
            <td colspan="2">
               <table class="table table-bordered">
                <tbody>
                 <tr>
                  <%if@status_report.nama_personil.present?%>
                    <%# <th width="10%">No</th> %>
                    <th >Nama</th>
                    <th >Jabatan</th>
                    <th >Kontak</th>
                  <%else%>
                    <th >Nama</th>
                    <th >Jabatan</th>
                    <th >Kontak</th>
                  <%end%>
                  </tr>
                  <tr>
                    <%if @status_report.nama_personil.present?%>

                      <td > <%= f.text_field :nama_personil, 'data-role'=>'tagsinput'  %></td>
                      <td > <%= f.text_field :jabatan_personil, 'data-role'=>'tagsinput' %></td>
                      <td > <%= f.text_field :kontak_personil, 'data-role'=>'tagsinput' %></td>
<%
=begin
%>                    
                     <%@personil_yang_dikunjungi.each_with_index do |personil_yang_dikunjungi,index|%>
                      <tr>
                        <td><%= index+1%></td>
                        <td><%= personil_yang_dikunjungi[0]%></td>
                        <td><%= personil_yang_dikunjungi[1]%></td>
                        <td><%= personil_yang_dikunjungi[2]%></td>
                      </tr>
                     <%end%>
<%
=end
%>
                    <%else%>        
                      <td > <%= f.text_field :nama_personil, 'data-role'=>'tagsinput'  %></td>
                      <td > <%= f.text_field :jabatan_personil, 'data-role'=>'tagsinput' %></td>
                      <td > <%= f.text_field :kontak_personil, 'data-role'=>'tagsinput' %></td>
                    <%end%>

                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <th width="30%">5.Lokasi Kunjungan</th>
            <td colspan="3">
            <%# <%=@status_report.realization_visit_plan.sales_visit_plan.try(:emaiil_pic)%>
             <%= f.text_field :lokasi_kunjungan, class: 'form-control border border-secondary' %>
            </td>
          </tr>
          <tr>
            <th width="30%">6.Jenis Kegiatan</th>
            <td colspan="3"><%=@status_report.realization_visit_plan.sales_visit_plan.try(:jenis_pekerjaan)%></td>
          </tr>
          <tr>
            <th width="30%">7.Deksripsi Pekerjaan</th>
            <td colspan="3"><%=@status_report.realization_visit_plan.sales_visit_plan.try(:deksripsi_pekerjaan)%></td>
          </tr>
          <tr>
          <%= @cek.inspect%>
            <th width="30%">8.Personil yang Dikunjungi</th>
            <td colspan="2">
               <table class="table table-bordered">
                <tbody>
                 <tr>
                  <%if 
                  @status_report.realization_visit_plan.nil? ? "" :
                  @status_report.realization_visit_plan.sales_visit_plan.nil? ? "" :
                  @status_report.realization_visit_plan.sales_visit_plan.data_company.nil? ? "" :
                  @status_report.realization_visit_plan.sales_visit_plan.data_company.contact.nil? ? "" :
                  @status_report.realization_visit_plan.sales_visit_plan.data_company.contact.present?
                  %>
                    <%# <th width="10%">No</th> %>
                    <th >Nama</th>
                    <th >Jabatan</th>
                    <th >Kontak</th>
                  <%else%>
                    <th >Nama</th>
                    <th >Jabatan</th>
                    <th >Kontak</th>
                  <%end%>
                  </tr>
                  <tr>
                    <%if @status_report.realization_visit_plan.sales_visit_plan.data_company.contact.present?%>
                       <td width="10%%">1</td>
                       <td > 1</td>
                       <td > <%= f.text_field :hasil_kunjungan, 'data-role'=>'tagsinput' %></td>
                       <td > <%= f.text_field :hasil_kunjungan, 'data-role'=>'tagsinput' %></td>
                    <%else%>        
                      <td id="nama">                     
                        <%= f.text_field :hasil_kunjungan, multiple: true , 'data-role'=>'tagsinput' %>
                         <datalist id="list">
                           <%= f.collection_select :id, Contact.all, :nama_pic, :id, {prompt: "-- Pilih Entitas --"}, class: 'form-control', id: 'company-id', :required => true, :onchange => "select_company()" %> 
                         </datalist>
                      </td>
                      <td id="jabatan"> 
                         <%= f.text_field :hasil_kunjungan, 'data-role'=>'tagsinput'  %>
                         <datalist id="list-jabatan">
                           <%= f.collection_select :id, Contact.all, :jabatan_pic, :id, {prompt: "-- Pilih Entitas --"}, class: 'form-control', id: 'company-id', :required => true, :onchange => "select_company()" %> 
                         </datalist>
                      </td>
                      <td  id="kontak"> <%= f.text_field :hasil_kunjungan, 'data-role'=>'tagsinput'  %></td>
                         <datalist id="list-kontak">
                           <%= f.collection_select :id, Contact.all, :kontak_pic, :id, {prompt: "-- Pilih Entitas --"}, class: 'form-control', id: 'company-id', :required => true, :onchange => "select_company()" %> 
                         </datalist>                     
                    <%end%>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <th width="30%">9.Hasil Kunjungan</th>
            <td colspan="3"> 
              <%= f.text_field :hasil_kunjungan, class: 'form-control border border-secondary' %>
            </td>
          </tr>
          <tr>
            <th width="30%">10.Tindak Lanjut</th>
            <td colspan="3"> 
                <%= f.text_field :tindak_lanjut, class: 'form-control border border-secondary ' %>
            </td>
          </tr>
          <tr>
            <th width="30%">11.Rencana Kunjungan</th>
            <td colspan="3"><%=@status_report.realization_visit_plan.sales_visit_plan.try(:estimasi_tgl_peretemuan)%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%# <div class="mb-4"> %>
    <%# <a class="btn btn-primary" id="catatan">+Catatan</a> %>
    <%# <a class="btn btn-primary" id="catatan" href="#" role="button">+Catatan</a> %>
  <%# </div> %>

<%
=begin
%>
  <div class="card shadow mb-4 " id="form-catatan" >
    <div class="card-header py-3">
      <div class="row justify-content-between">
        <div class="col align-items-center pt-2">
          <h6 class="font-weight-bold">Review by Kadiv </h6>
        </div>
      </div>
    </div>
    <br>
    <div class="card-body ">
      <table class="table table-bordered">
        <tbody>
          <%= f.text_area(:catatan, size: '93x10', class: '')%>
        </tbody>
      </table>
    </div>
<%
=end%>    
    <div class=" py-3 ">
      <a href="<%= status_laporan_activity_sales_path %>" class="btn btn-info pull-right ml-2">Kembali</a>
      <button type="submit" class="btn btn-primary px-3 pull-right" value="form"> Submit</button>
    </div>
  <%# </div> %>

    <%# <%= render "show_lampiran" %> 
 <% end %>
</div> 

<script>
$(document).ready( function() {
  $('.bootstrap-tagsinput').addClass( 'col-8' );
  $('#nama .bootstrap-tagsinput input').attr('list', 'list');
  $('#jabatan .bootstrap-tagsinput input').attr('list', 'list-jabatan');
  $('#kontak .bootstrap-tagsinput input').attr('list', 'list-kontak');
} );
//stop enter
// $(document).on("keypress", 'form', function (e) {
//     var code = e.keyCode || e.which;
//     console.log(code);
//     if (code == 13) {
//         console.log('Inside');
//         e.preventDefault();
//         return false;
//     }
// });
// var $input = $("input").tagsinput('input');
// $input.addClass('custom-class');
</script>