<style>
.bootstrap-tagsinput {
  white-space: nowrap;
  overflow: scroll;
}
</style>
<div class="container-fluid">
 <%= form_for @status_report, multipart: true do |f| %>
  <div class="card shadow mb-4">
              <% if @status_report.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@status_report.errors.count, "error") %> prohibited this site_project from being saved:</h2>
              <ul>
              <% @status_report.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

    <div class="card-header py-3">
      <div class="row justify-content-between">
        <div class="col align-items-center pt-2">
          <h6 class="font-weight-bold">Review Aktivitas Sales </h6>
        </div>
      </div>
    </div>
    <br>
    <div class="card-body py-3">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th width="30%">1.Nama Entitas</th>
            <td colspan="3"><%=@status_report.realization_visit_plan.try(:nama_entitas_lokasi_pengadaan)%></td>
          </tr>
          <tr>
            <th width="30%">2.Alamat</th>
            <td colspan="3"><%=@status_report.realization_visit_plan.sales_visit_plan.data_company.try(:alamat)%></td>
          </tr>
            <td>
              <th colspan="1">Telephone/Fax</th>
              <td colspan="1"> <%=
              @status_report.realization_visit_plan.nil? ? "" :
              @status_report.realization_visit_plan.sales_visit_plan.nil? ? "" :
              @status_report.realization_visit_plan.sales_visit_plan.data_company.nil? ? "" :
              @status_report.realization_visit_plan.sales_visit_plan.data_company.contact.nil? ? "" :
              @status_report.realization_visit_plan.sales_visit_plan.data_company.contact.try(:kontak_pic)
              %> </td>
            </td>
          <tr>
            <td>
              <th colspan="1">Email</th>
              <td colspan="1"><%=@status_report.realization_visit_plan.sales_visit_plan.data_company.contact.try(:emaiil_pic)%></td>
            </td>
          </tr>
          <tr>
            <td>
              <th colspan="1">Website</th>
              <td colspan="1"><%=@status_report.realization_visit_plan.sales_visit_plan.data_company.try(:website)%></td>
            </td>
          </tr>
          <tr>
            <th width="30%">3.Hari/Tanggal</th>
            <td colspan="3"><%=@status_report.realization_visit_plan.try(:realisasi_tgl_peretemuan)%></td>
          </tr>
          <tr>
            <th width="30%">4.Personil PGAS</th>
            <td colspan="2">
               <table class="table table-bordered">
                <tbody>
                 <tr>
                    <th width="10%%">No</th>
                    <th >Nama</th>
                    <th >Jabatan</th>
                    <th >Kontak</th>
                  </tr>
                  <tr>
                    <td width="10%%">  
                     <%# <%= f.text_field :tindak_lanjut, class: 'form-control border border-secondary'   %>
                 
                   
                    </td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <th width="30%">5.Lokasi Kunjungan</th>
            <td colspan="3">
            <%# <%=@status_report.realization_visit_plan.sales_visit_plan.try(:emaiil_pic)%>
          
            </td>
          </tr>
          <tr>
            <th width="30%">6.Jenis Kegiatan</th>
            <td colspan="3"><%=@status_report.realization_visit_plan.sales_visit_plan.try(:jenis_pekerjaan)%></td>
          </tr>
          <tr>
            <th width="30%">7.Deksripsi Pekerjaan</th>
            <td colspan="3"><%=@status_report.realization_visit_plan.sales_visit_plan.try(:deksripsi_pekerjaan)%></td>
          </tr>
          <tr>
            <th width="30%">8.Personil yang Dikunjungi</th>
            <td colspan="2">
               <table class="table table-bordered">
                <tbody>
                 <tr>
                    <th width="10%">No</th>
                    <th >Nama</th>
                    <th >Jabatan</th>
                    <th >Kontak</th>
                  </tr>
                  <tr>
                    <td width="10%"></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <th width="30%">9.Hasil Kunjungan</th>
            <td colspan="3"> 
           
            </td>
          </tr>
          <tr>
            <th width="30%">10.Tindak Lanjut</th>
            <td colspan="3"> 
          
            </td>
          </tr>
          <tr>
            <th width="30%">11.Rencana Kunjungan</th>
            <td colspan="3"><%=@status_report.realization_visit_plan.sales_visit_plan.try(:estimasi_tgl_peretemuan)%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%# <div class="mb-4"> %>
    <%# <a class="btn btn-primary" id="catatan">+Catatan</a> %>
    <%# <a class="btn btn-primary" id="catatan" href="#" role="button">+Catatan</a> %>
  <%# </div> %>

<%
=begin
%>
  <div class="card shadow mb-4 " id="form-catatan" >
    <div class="card-header py-3">
      <div class="row justify-content-between">
        <div class="col align-items-center pt-2">
          <h6 class="font-weight-bold">Review by Kadiv </h6>
        </div>
      </div>
    </div>
    <br>
    <div class="card-body ">
      <table class="table table-bordered">
        <tbody>
          <%= f.text_area(:catatan, size: '93x10', class: '')%>
        </tbody>
      </table>
    </div>
<%
=end%>    
  <%# </div> %>

    <%# <%= render "show_lampiran" %> 
 <% end %>
</div> 

<script>
$(document).ready(function() {
	$('.tags').tagsinput({
    	allowDuplicates: true
    });
});
</script>