<div class="container-fluid">
    <div class="card-body">
      <div class="table-responsive">
        <div id="tableExport_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
          <table id="dataTable_data_companies" class="table table-bordered">
             <%= form_tag(:action => :index) do %>
            <div class="row">
              <%= select_tag "project_potential", options_for_select(@perusahaan),{class: "form-control select col-md-2 filter_perusahaan" ,prompt: "-- Nama Perusahaan --"} %>
              <%= select_tag "project_potential", options_for_select(@status),{class: "form-control select col-md-2 ml-2 filter_status" ,prompt: "-- Remark --"} %>
              <%= select_tag "project_potential", options_for_select(@konfirmasi),{class: "form-control select col-md-2 ml-2 filter_konfirmasi" ,prompt: "-- Konfirmasi --"} %>
              <%= select_tag "project_potential", options_for_select(["(0-25)","(25-50)","(50-100)","(>100)"]),{class: "form-control select col-md-2 ml-2 filter_nilai" ,prompt: "-- Nilai --"} %>
            </div>
            <% end %>
            <br>  
            <thead>
                <tr>
                  <th class="text-center" style="width: 12px;">No</th>
                  <th>Nama Entitas</th>
                  <th>Klaster</th>
                  <th>Lokasi</th>
                  <th>Judul Tender</th>
                  <th>Nilai</th>
                  <th>Lini Bisnis</th>
                  <th>Jadwal</th>
                  <th>Durasi</th>
                  <th>Remarks</th>
                  <th>Konfirmasi</th>
                  <th>Informasi Tambahan</th>
                  <th class="text-center" style="width: 100px;">Aksi</th>
                </tr>
            </thead>
            <tbody>
              <% @project_potentials.each_with_index do |project_potential, index| %>
                <tr>
                  <td class="text-center"><%= index+1 %></td>
                  <td><%= project_potential.nama_entitas %></td>
                  <td><%= project_potential.cluster %></td>
                  <td><%= project_potential.lokasi %></td>
                  <td><%= project_potential.judul_tender %></td>
                  <td><%= project_potential.nilai %></td>
                  <td><%= project_potential.lini_bisnis %></td>
                  <td><%= project_potential.jadwal_perkiraan_tender %></td>
                  <td><%= project_potential.durasi_proyek %></td>
                  <td><%= project_potential.remark %></td>
                  <td><%= project_potential.konfirmasi %></td>
                  <td><%= project_potential.informasi_tambahan %></td>
                  <td class="text-center">
                    <% if current_user.can? { |permissions| permissions.project_potential.read? } %>
                    <a href="<%= project_potential_path(project_potential) %>" class="btn btn-info btn-circle btn-sm">
                      <i class="fas fa-eye"></i>
                    </a>
                    <% end %>
                    <% if current_user.can? { |permissions| permissions.project_potential.update? } %>
                    <a href="<%= edit_project_potential_path(project_potential) %>" class="btn btn-warning btn-circle btn-sm">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
                    <% end %>
                    <% if current_user.can? { |permissions| permissions.project_potential.destroy? } %>
                    <a href="<%= project_potential_path(project_potential) %>" class="btn btn-danger btn-circle btn-sm" data-method="DELETE" data-confirm="Are you sure?">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>


<script>
  $(document).ready(function() {
      dataTable = $("#dataTable_data_companies").DataTable();
  });
  
</script>
