<div class="container-fluid">
    <div class="card-body">
      <div class="table-responsive">
        <div id="tableExport_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
          <table id="dataTable_data_companies" class="table table-bordered">
             <%= form_tag(:action => :index) do %>
            <div class="row">
              <%= select_tag "project_potential", options_for_select(@perusahaan),{class: "form-control select col-md-2 filter_perusahaan" ,prompt: "-- Nama Perusahaan --"} %>
              <%= select_tag "project_potential", options_for_select(@status),{class: "form-control select col-md-2 ml-2 filter_remark" ,prompt: "-- Remark --"} %>
              <%= select_tag "project_potential", options_for_select(@konfirmasi),{class: "form-control select col-md-2 ml-2 filter_konfirmasi" ,prompt: "-- Konfirmasi --"} %>
              <%= select_tag "project_potential", options_for_select(
                ["Rp 0 - Rp 25.000.000.000","Rp 25.000.000.000 - Rp 50.000.000.000","Rp 50.000.000.000 - Rp 100.000.000.000","> Rp 100.000.000.000"
                ]
                ),{class: "form-control select col-md-2 ml-2 filter_nilai" ,prompt: "-- Nilai --"} %>
              <%# <div>
                <input class="form-control min cek_min" id="min" >     
              </div>
              <div>
                <input class="form-control max cek_max" id="max" >     
              </div> %>
            </div>
            <% end %>
            <br>  
            <thead>
                <tr>
                  <th class="text-center" style="width: 12px;">No</th>
                  <th>Nama Entitas</th>
                  <th>Klaster</th>
                  <th>Lokasi</th>
                  <th>Judul Tender</th>
                  <th>Nilai</th>
                  <th>Lini Bisnis</th>
                  <th>Jadwal</th>
                  <th>Durasi</th>
                  <th>Remark</th>
                  <th>Konfirmasi</th>
                  <th>Informasi Tambahan</th>
                  <%# <th hidden></th> %>
                  <th class="text-center" style="width: 100px;">Aksi</th>
                </tr>
            </thead>
            <tbody>
              <% @project_potentials.each_with_index do |project_potential, index| %>
                <tr>
                  <td class="text-center"><%= index+1 %></td>
                  <td><%= project_potential.nama_entitas %></td>
                  <td><%= project_potential.cluster %></td>
                  <td><%= project_potential.lokasi %></td>
                  <td><%= project_potential.judul_tender %></td>
                  <td><%= project_potential.nilai %></td>
                  <td><%= project_potential.lini_bisnis %></td>
                  <td><%= project_potential.jadwal_perkiraan_tender %></td>
                  <td><%= project_potential.durasi_proyek %></td>
                  <td><%= project_potential.remark %></td>
                  <td><%= project_potential.konfirmasi %></td>
                  <td><%= project_potential.informasi_tambahan %></td>
                  <%# <td hidden><% project_potential.nominal %>
                  <%# </td> %> 
                  <td class="text-center">
                    <% if current_user.can? { |permissions| permissions.project_potential.read? } %>
                    <a href="<%= project_potential_path(project_potential) %>" class="btn btn-info btn-circle btn-sm">
                      <i class="fas fa-eye"></i>
                    </a>
                    <% end %>
                    <% if current_user.can? { |permissions| permissions.project_potential.update? } %>
                    <a href="<%= edit_project_potential_path(project_potential) %>" class="btn btn-warning btn-circle btn-sm">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
                    <% end %>
                    <% if current_user.can? { |permissions| permissions.project_potential.destroy? } %>
                    <a href="<%= project_potential_path(project_potential) %>" class="btn btn-danger btn-circle btn-sm" data-method="DELETE" data-confirm="Are you sure?">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>


<script>
    // $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
    //     var min = parseInt($('#min').val());
    //     var max = parseInt($('#max').val());
    //     var nominal = parseFloat(data[13]) || 0; // use data for the age column
    //   //  console.log(min)
    //     if (
    //         (isNaN(min) && isNaN(max)) ||
    //         (isNaN(min) && nominal <= max) ||
    //         (min <= nominal && isNaN(max)) ||
    //         (min <= nominal && nominal <= max)
    //     ) {
    //         return true;
    //     }
    //     return false;
    // });


  $(document).ready(function() {
    var dataTable = $("#dataTable_data_companies").DataTable();

    $('.filter_perusahaan').on('change', function(e){
      var perusahaan = $(this).val();
      $('.filter_perusahaan').val(perusahaan)
      // console.log(perusahaan)
      //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
      dataTable.column(1).search(perusahaan ? '^' + perusahaan + '$' : '', true, false).draw();
      // (perusahaan).draw();
      
    });

    $('.filter_remark').on('change', function(e){
      var remark = $(this).val();
      $('.filter_remark').val(remark)
      // console.log(remark)
      //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
      dataTable.column(9).search(remark ? '^' + remark + '$' : '', true, false).draw();
      // (remark).draw();
    });

    $('.filter_konfirmasi').on('change', function(e){
      var konfirmasi = $(this).val();
      $('.filter_konfirmasi').val(konfirmasi)
      // console.log(konfirmasi)
      //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
      dataTable.column(10).search(konfirmasi ? '^' + konfirmasi + '$' : '', true, false).draw();
      // (konfirmasi).draw();
    });

    $('.filter_nilai').on('change', function(e){
      var nilai = $(this).val()
      var split_nilai =  nilai.split(" - ")
      var min_nilai = split_nilai[0].replace("Rp ", "").replace(".", "").replace(".", "").replace(".", "").replace(".", "").replace(".", "");
      var max_nilai = split_nilai[1].replace("Rp ", "").replace(".", "").replace(".", "").replace(".", "").replace(".", "").replace(".", "");
      $('#min').val(min_nilai);
      $('#max').val(max_nilai);


    });

          
    //     $.fn.dataTable.ext.search.push(
    //     function (settings, data, dataIndex) {
    //         var min = $('#min').val();
    //         var max = $('#max').val();
    //         var startDate = data[13];
    //         if (min == null && max == null) { return true; }
    //         if (min == null && startDate <= max) { return true;}
    //         if(max == null && startDate >= min) {return true;}
    //         if (startDate <= max && startDate >= min) { return true; }
    //         return false;
    //     }
    //     );

       
        

    //         // Event listener to the two range filtering inputs to redraw on input
    //         $('.cek_min, .cek_max').keyup(function () {
    //     dataTable.draw();
    // });

 

      $('#min, #max').keyup( function() {
             var min_nilai =   $('#min').val();

                dataTable.column(13).search(min_nilai ? '^' + min_nilai + '$' : '', true, false).draw();
      } );
    

  });   
</script>
