<div class="row" style="justify-content: center;" >
  <div class="col-lg-12">
    <div class="">
      <div class="card-body">
        <%# <%= form_for :project_potentials, url: project_potentials_create_path, method: :post, html: {class: "form-horizontal", role: "form"} do |f| %> 
        <%= form_for @project_potential, multipart: true do |f| %>
          <% if @project_potential.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@project_potential.errors.count, "error") %> prohibited this site_project from being saved:</h2>
              <ul>
              <% @project_potential.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          
          <div class="form-row">
            <div class="form-group col">
              <label>Nama Entitas</label>
              <%# <%= f.text_field :nama_entitas, class: "form-control" %>
                <%# <select data-placeholder="Pilih Nama Entitas" class="form-control selectEntitas id_100" id="entitas"  onclick="select_entitas()">
                  <option value="1">--Pilih--</option>
                    <%= raw(getRealisasiPlan)%>
                <%# </select> %> 
                <%= f.text_field :nama_entitas, list: "nama_entitas" , class: "form-control select-realization"%>
                <input type="hidden" name="project_potential[realization_visit_plan_id]" class="form-control select-realization" id="realization_id">
                <%# <%= f.text_field :realization_visit_plan_id, id: "realization_id" , class: "form-control select-realization" , name: "project_potential[realization_visit_plan_id]"%> 
                <datalist id="nama_entitas" >
                  <%= f.collection_select :id, RealizationVisitPlan.all, :nama_entitas_lokasi_pengadaan, :id, {prompt: "-- Pilih Entitas --"}, class: 'form-control', id: 'realization-id', :required => true, :onchange => "select_realization()" %> 
                </datalist>
              </div>
          </div>
          
          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Klaster</label>
               <%= f.select :cluster, options_for_select(["Internal SH Gas","Eksternal (Pertamina Grup)","Eksternal Swasta","Eksternal Pemerintah",'Eksternal BUMN/BUMD'], params[:pilihan]), prompt: "-- Pilih Klaster --", class: "form-control", name: "project_potential[cluster]"  %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Lokasi</label>
              <%= f.text_field :lokasi, class: "form-control" %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Judul Tender</label>
              <%= f.text_field :judul_tender, class: "form-control" %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col inputNilai">
              <label for="inputNilai">Nilai</label>
                <%= f.select :nilai, options_for_select(["IDR(RP)","USD($)"]), prompt: "-- Pilih Nilai(IDR) --"%>
<%
=begin
%>
                <%= f.text_field :nilai, list: "nama_entitas" , class: "form-control select-realization"%>
              <datalist id="nama_entitas" >
                <%= f.select :nilai, options_for_select(["IDR(RP)","USD($)"], params[:pilihan]), id: 'realization-id', prompt: "-- Pilih Cluster --", class: "form-control" %>
              </datalist>
<%
=end
%>              
            </div>
          </div>
           <div class="form-row ">
            <div class="form-group col">
              <label for="intpuCluster">Nominal</label>
              <%= f.number_field :nominal, :limit => 8, class: "form-control " %>
            </div>
          </div>
<%
=begin%>         
          <div class="form-row form-rp">
            <div class="form-group col">
              <label for="intpuCluster">Nominal (RP)</label>
              <%= f.number_field :nominal, class: "form-control" %>
            </div>
          </div>



          <div class="form-row form-usd">
            <div class="form-group col">
              <label for="intpuCluster">Nominal ($)</label>
              <%= f.number_field :nominal, class: "form-control" %>
            </div>
          </div>
<%
=end%>

          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Lini Bisnis</label>
              <%= f.select :lini_bisnis, options_for_select(["EPC","O&M","Supply Chain","Lainnya"], params[:pilihan_lini_bisnis]), prompt: "-- Pilih Lini Bisnis --", class: "form-control", name: "project_potential[lini_bisnis]"%>
              <%# <%= f.text_field :lini_bisnis, class: "form-control" %> 
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Jadwal Perkiraan Tender</label>
              <%= f.date_field :jadwal_perkiraan_tender, class: "form-control" %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Durasi Proyek (Bulan)</label>
              <%= f.text_field :durasi_proyek, class: "form-control" %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Remark</label>
              <%= f.select :remark, options_for_select(["SINERGI","NON SINERGI"], params[:pilihan_remark]), prompt: "-- Pilih Remark --", class: "form-control", name: "project_potential[remark]"%>
              <%# <%= f.text_field :remark, class: "form-control" %> 
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Konfirmasi (%)</label>
              <%= f.select :konfirmasi, options_for_select(["100%","75%","50%"], params[:pilihan_konfirmasi]), prompt: "-- Pilih Konfirmasi --", class: "form-control", name: "project_potential[konfirmasi]" %>
              <%# <%= f.number_field :konfirmasi, class: "form-control" %> 
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Informasi Tambahan</label>
              <%= f.text_field :informasi_tambahan, class: "form-control" %>
            </div>
          </div>
          
          <div class="form-group">
           <button href="<%=project_potentials_create_path%>" class="btn btn-primary px-3 pull-right">Submit</button>
            <a href="<%=project_potentials_path%>" class="btn btn-light pull-left">Cancel</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
//   $(document).ready(function () {
//     $(".form-rp").hide();
//     $(".form-usd").hide();
// });


// $('.nilai').change(function() {
//   if($('.nilai').val() == '') {
//     $('.form-usd, .form-rp').hide();
//   }
//   if($('.nilai').val() == 'USD($)') {
//     $('.form-rp').hide();
//     $('.form-usd').show();
//   }
//   if($('.nilai').val() == 'IDR(RP)') {
//     $('.form-rp').show();
//     $('.form-usd').hide();
//   }
// });

    select_realization();
    function select_realization() { 
      $('.select-realization').change(function(){
            if ($(this).val() !== '') {
                const value = $(this).val();
               
        //  console.log(value)
              $.getJSON("/helper_json/" +value+ "/getDataRealisasi",
               function ( callback ) {
                if (callback != "error"){
                    $('#realization_id').val(callback).change();
                  callback.map(myFunction); //https://www.w3schools.com/js/js_array_iteration.asp
                }
              });
            }
      });
    }
    // function myFunction(value){
    //   // console.log(value)
    //   $.getJSON("/helper_json/" +value+ "/getDataCompanyCluster",
      
    //            function ( callback ) {
    //             if (callback != "error"){
    //               // console.log(callback)
    //                id = $('.cluster').val(callback).change();
    //             }
    //   });
    //        $.getJSON("/helper_json/" +value+ "/getDataCompanyCategory",
      
    //            function ( callback ) {
    //             if (callback != "error"){
    //               // console.log(callback)
    //                id = $('.category').val(callback).change();
    //             }
    //   });
    // }
function formatAmountNoDecimals( number ) {
    var rgx = /(\d+)(\d{3})/;
    while( rgx.test( number ) ) {
        number = number.replace( rgx, '$1' + '.' + '$2' );
    }
    return number;
}

function formatAmount( number ) {

    // remove all the characters except the numeric values
    number = number.replace( /[^0-9]/g, '' );

    // set the default value
    if( number.length == 0 ) number = "0.00";
    else if( number.length == 1 ) number = "0.0" + number;
    else if( number.length == 2 ) number = "0." + number;
    else number = number.substring( 0, number.length - 2 ) + '.' + number.substring( number.length - 2, number.length );

    // set the precision
    number = new Number( number );
    number = number.toFixed( 2 );    // only works with the "."

    // change the splitter to ","
    number = number.replace( /\./g, ',' );

    // format the amount
    x = number.split( ',' );
    x1 = x[0];
    x2 = x.length > 1 ? ',' + x[1] : '';

    return formatAmountNoDecimals( x1 ) + x2;
}


$(function() {

    $( '.amount' ).keyup( function() {
        $( this ).val( formatAmount( $( this ).val() ) );
    });

});

$(document).ready( function() {
  $('#project_potential_nilai').attr('class', 'form-control');
  $('#project_potential_cluster').attr('class', 'form-control');
  $('#project_potential_lini_bisnis').attr('class', 'form-control');
  $('#project_potential_jadwal_perkiraan_tender').attr('class', 'form-control');
  $('#project_potential_remark').attr('class', 'form-control');
  $('#project_potential_konfirmasi').attr('class', 'form-control');
} );
</script>