<div class="container-fluid">
 <%= form_for @project_potential, multipart: true do |f| %>
  <div class="">
      <table class="table table-bordered text-center mb-2" id="sinergi">
       <%= form_tag(:action => :index) do %>
        <div class="row  p-3">
          <%= select_tag "project_potential", options_for_select(@perusahaan),{class: "form-control select col-md-2 filter_perusahaan" ,prompt: "-- Nama Entitas --"} %>
          <%= select_tag "project_potential", options_for_select(@status),{class: "form-control select col-md-2 ml-2 filter_remark" ,prompt: "-- Remark --"} %>
        </div>
       <% end %>
        <thead>
            <tr colspan="3">
              <th class="text-center" style="width: 12px;" rowspan="3">No</th>
              <th rowspan="3">Nama Entitas</th>
              <th rowspan="3">Remark</th>
              <th rowspan="3">Total Jumlah Proyek</th>
              <th rowspan="3">Jumlah Total Nilai</th>
              <th colspan="6">Rincian</th>
            </tr>
            <tr>
                <th>Jumlah Proyek</th>
                <th>Perkiraan Nilai Proyek</th>
                <th>Jumlah Proyek</th>
                <th>Perkiraan Nilai Proyek</th>
                <th>Jumlah Proyek</th>
                <th>Perkiraan Nilai Proyek</th>
            </tr>
            <tr>
                <th colspan="2">100%</th>
                <th colspan="2">75%</th>
                <th colspan="2">50%</th>
            </tr>
        </thead> 
            <tbody>
              <% @project_by_name.each_with_index do |potensi_proyek,index| %>
                <tr>
                 <td><%=index+1%> </td>
                 <td><%=potensi_proyek[1].map(&:nama_entitas).uniq.to_s.gsub('"','').gsub('[','').gsub(']','') %></td>
                 <td><%=potensi_proyek[1].map(&:remark).uniq.to_s.gsub('"','').gsub('[','').gsub(']','') %></td>
                 <td><%=potensi_proyek[1].map(&:remark).count%></td>
                 <td><%=number_to_currency_br(potensi_proyek[1].map(&:nominal).compact.sum)%></td>

                 <% @validasi_konfirmasi_potensi =potensi_proyek[1].group_by { |value| value.konfirmasi} %>
                  <td><%=@validasi_konfirmasi_potensi["100%"].to_a.map {|value| value.nama_entitas}.count%></td>
                  <td><%=number_to_currency_br(@validasi_konfirmasi_potensi["100%"].to_a.map {|value| (value.nominal)}.compact.sum)%></td>

                  <td><%=@validasi_konfirmasi_potensi["75%"].to_a.map {|value| value.nama_entitas}.count%></td>
                  <td><%=number_to_currency_br(@validasi_konfirmasi_potensi["75%"].to_a.map {|value| value.nominal}.compact.sum)%></td>

                  <td><%=@validasi_konfirmasi_potensi["50%"].to_a.map {|value| value.nama_entitas}.count%></td>
                  <td><%=number_to_currency_br(@validasi_konfirmasi_potensi["50%"].to_a.map {|value| value.nominal}.compact.sum)%></td>
                 </tr>
              <%end%>
            </tbody>
<%
=begin
%>         
        <tbody>
            <% @project_potentials.where("remark": "SINERGI").each_with_index do |project_potential, index| %>
                <tr>
                   <td class="text-center"><%= index+1 %></td>
                   <td><%= project_potential.nama_entitas%></td>
                   <td></td>
                   <td></td>
                   <%# <td><%= project_potential.remark%>
                   <%# </td> %>
                   <td>6</td>
                   <td>5</td>
                   <td>4</td>
                   <td>3</td>
                   <td>2</td>
                   <td>1</td>
                </tr>
                
            <% end %>
        </tbody>

          <thead>
              <tr>
                <td colspan="10">NON SINERGI</td>
              </tr>
          </thead>
            <tbody>
                <% @cek_non_sinergi.each_with_index do |project_potential, index| %>
                <%# <% @project_potentials.where("remark": "NON SINERGI").or(@project_potentials.where("remark": "EXTERNAL")).each_with_index do |project_potential, index| %> %>
                    <tr>
                    <td class="text-center"><%= index+1 %></td>
                    <td>
                      <%= project_potential[0] %>
                    </td>
                    <td>
                    <%= project_potential[1]%>
                    </td>
                    <td> <%= @cek_non_sinergi.inspect%></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <%# <td><%= project_potential.remark%>
                    <%# </td> %> 
                    </tr>
                <% end %>
            </tbody>
          <thead>
              <tr>
                <td colspan="2">TOTAL NON SINERGI & EKSTERNAL</td>
                <td>  <%= @total_jumlah_proyek  %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
<%
=end
%>              
          <thead>
            <% @project_by_remark.each do |project_potential| %>
              <tr>
                <td colspan="3"  >TOTAL (<%= project_potential[0]%>)</td>
                <td ><%= project_potential[1].map(&:nama_entitas).count%></td>
                <td > <%= number_to_currency_br(project_potential[1].map(&:nominal).compact.sum)%></td>
                <% @validasi_konfirmasi =project_potential[1].group_by { |value| value.konfirmasi} %>
                   <td > 
                    <%= @validasi_konfirmasi["100%"].to_a.map {|value| value.nama_entitas}.count%>
                   </td>
                   <td >
                    <%= number_to_currency_br(@validasi_konfirmasi["100%"].to_a.map {|value| value.nominal}.compact.sum)%>
                   </td>                  
                   <td >
                    <%= @validasi_konfirmasi["75%"].to_a.map {|value| value.nama_entitas}.count%>
                   </td>
                   <td >
                    <%= number_to_currency_br(@validasi_konfirmasi["75%"].to_a.map {|value| value.nominal}.compact.sum)%>
                   </td>
                   <td > 
                    <%= @validasi_konfirmasi["50%"].to_a.map {|value| value.nama_entitas}.count%>
                   </td>
                   <td >
                    <%= number_to_currency_br(@validasi_konfirmasi["50%"].to_a.map {|value| value.nominal}.compact.sum)%>
                   </td>
              </tr>   
            <% end %>
          </thead>       

</table>

      
  </div>
 <% end %>
</div> 



<script>
//  $(document).ready(function () {
//     $("#form-catatan").hide();
//     $("#catatan").on('click', function(){
//         $("#form-catatan").toggle('slow');
//     })
// });

  $(document).ready(function() {
    var dataTable = $("#sinergi").DataTable();

    $('.filter_perusahaan').on('change', function(e){
      var perusahaan = $(this).val();
      $('.filter_perusahaan').val(perusahaan)
      console.log(perusahaan)
      //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
      dataTable.column(1).search(perusahaan ? '^' + perusahaan + '$' : '', true, false).draw();
      // (perusahaan).draw();
      
    });

    $('.filter_remark').on('change', function(e){
      var remark = $(this).val();
      $('.filter_remark').val(remark)
      // console.log(remark)
      //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
      dataTable.column(2).search(remark ? '^' + remark + '$' : '', true, false).draw();
      // (remark).draw();
    });

  });   
</script>