<p id="notice"><%= notice %></p>

<h1>Project Potentials</h1>

<table>
  <thead>
    <tr>
      <th>Nama entitas</th>
      <th>Cluster</th>
      <th>Lokasi</th>
      <th>Judul tender</th>
      <th>Nilai</th>
      <th>Nominal</th>
      <th>Lini bisnis</th>
      <th>Jadwal perkiraan tender</th>
      <th>Durasi proyek</th>
      <th>Remark</th>
      <th>Konfirmasi</th>
      <th>Informasi tambahan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_potentials.each do |project_potential| %>
      <tr>
        <td><%= project_potential.nama_entitas %></td>
        <td><%= project_potential.cluster %></td>
        <td><%= project_potential.lokasi %></td>
        <td><%= project_potential.judul_tender %></td>
        <td><%= project_potential.nilai %></td>
        <td><%= project_potential.nominal %></td>
        <td><%= project_potential.lini_bisnis %></td>
        <td><%= project_potential.jadwal_perkiraan_tender %></td>
        <td><%= project_potential.durasi_proyek %></td>
        <td><%= project_potential.remark %></td>
        <td><%= project_potential.konfirmasi %></td>
        <td><%= project_potential.informasi_tambahan %></td>
        <td><%= link_to 'Show', project_potential %></td>
        <td><%= link_to 'Edit', edit_project_potential_path(project_potential) %></td>
        <td><%= link_to 'Destroy', project_potential, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Potential', new_project_potential_path %>
