<div class="container-fluid">
 <%= form_for @project_potential, multipart: true do |f| %>
  <div class="">
      <table class="table table-bordered text-center" id="sinergi">
        <thead>
            <tr colspan="3">
              <th class="text-center" style="width: 12px;" rowspan="3">No</th>
              <th rowspan="3">Nama Entitas</th>
              <th rowspan="3">Total Jumlah Proyek</th>
              <th rowspan="3">Jumlah Total Nilai</th>
              <th colspan="6">Rincian</th>
            </tr>
            <tr>
                <td>Jumlah Proyek</td>
                <td>Perkiraan Nilai Proyek</td>
                <td>Jumlah Proyek</td>
                <td>Perkiraan Nilai Proyek</td>
                <td>Jumlah Proyek</td>
                <td>Perkiraan Nilai Proyek</td>
            </tr>
            <tr>
                <td colspan="2">100%</td>
                <td colspan="2">75%</td>
                <td colspan="2">50%</td>
            </tr>
            <tr>
              <td colspan="10">SINERGI</td>
            </tr>
        </thead>  
        <tbody>
            <% @project_potentials.where("remark": "SINERGI").each_with_index do |project_potential, index| %>
                <tr>
                   <td class="text-center"><%= index+1 %></td>
                   <td><%= project_potential.nama_entitas%></td>
                   <td></td>
                   <td></td>
                   <%# <td><%= project_potential.remark%>
                   <%# </td> %>
                   <td>6</td>
                   <td>5</td>
                   <td>4</td>
                   <td>3</td>
                   <td>2</td>
                   <td>1</td>
                </tr>
                
            <% end %>
        </tbody>
        <thead>
            <tr>
              <td colspan="10">NON SINERGI</td>
            </tr>
        </thead>
        <tbody>
            <% @cek_non_sinergi.each_with_index do |project_potential, index| %>
            <%# <% @project_potentials.where("remark": "NON SINERGI").or(@project_potentials.where("remark": "EXTERNAL")).each_with_index do |project_potential, index| %> %>
                <tr>
                 <td class="text-center"><%= index+1 %></td>
                 <td>
                  <%= project_potential[0] %>
                 </td>
                 <td>
                 <%= project_potential[1]%>
                 </td>
                 <td> <%= @cek_non_sinergi.inspect%></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <%# <td><%= project_potential.remark%>
                 <%# </td> %> 
                </tr>
            <% end %>
        </tbody>
        <thead>
            <tr>
              <td colspan="2">TOTAL NON SINERGI & EKSTERNAL</td>
              <td>  <%= @total_jumlah_proyek  %></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
             <%# <tr>
              <td colspan="2">TOTAL (SINERGI, NON SINERGI & EKSTERNAL)</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr> %>
        </thead>       
      </table>

      
  </div>
 <% end %>
</div> 



<script>
//  $(document).ready(function () {
//     $("#form-catatan").hide();
//     $("#catatan").on('click', function(){
//         $("#form-catatan").toggle('slow');
//     })
// });

</script>