<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row justify-content-between">
        <div class="col align-items-center pt-2">
          <h6 class="font-weight-bold">Data Potensi Proyek</h6>
        </div>
      </div>
    </div>
    <br>
    <div class="card-body py-3">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td width="30%">Nama Entitas</td>
            <td><%= @project_potential.try(:nama_entitas) %></td>
          </tr>
          <tr>
            <td width="30%">Cluster</td>
            <td><%= @project_potential.try(:cluster)%></td>
          </tr>
          <tr>
            <td width="30%">Lokasi</td>
            <td><%= @project_potential.try(:lokasi)%></td>
          </tr>
          <tr>
            <td width="30%">Judul Tender</td>
            <td><%= @project_potential.try(:judul_tender)%></td>
          </tr>
          <tr>
            <td width="30%">Nilai(IDR)</td>
            <td><%= @project_potential.try(:nilai)%></td>
          </tr>
          <tr>
            <td width="30%">Nominal</td>
            <td><%= @project_potential.try(:nominal)%></td>
          </tr>
           <tr>
            <td width="30%">Lini Bisnis</td>
            <td><%= @project_potential.try(:lini_bisnis)%></td>
          </tr>
          <tr>
            <td width="30%">Jadwal Perkiraan Tender</td>
            <td><%= @project_potential.try(:jadwal_perkiraan_tender) %>
            </td>
          </tr>
          <tr>
            <td width="30%">Durasi Proyek</td>
            <td><%= @project_potential.try(:durasi_proyek) %>
            </td>
          </tr>
          <tr>
            <td width="30%">Remark</td>
            <td><%= @project_potential.try(:remark) %>
            </td>
          </tr>
          <tr>
            <td width="30%">Konfirmasi</td>
            <td><%= @project_potential.try(:konfirmasi) %>
            </td>
          </tr>
          <tr>
            <td width="30%">informasi_tambahan</td>
            <td><%= @project_potential.try(:informasi_tambahan) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer py-3 ">
      <a href="<%= project_potentials_path %>" class="btn btn-info">Kembali</a>
    </div>
  </div>
</div>