<p id="notice"><%= notice %></p>

<p>
  <strong>Nama entitas:</strong>
  <%= @project_potential.nama_entitas %>
</p>

<p>
  <strong>Cluster:</strong>
  <%= @project_potential.cluster %>
</p>

<p>
  <strong>Lokasi:</strong>
  <%= @project_potential.lokasi %>
</p>

<p>
  <strong>Judul tender:</strong>
  <%= @project_potential.judul_tender %>
</p>

<p>
  <strong>Nilai:</strong>
  <%= @project_potential.nilai %>
</p>

<p>
  <strong>Nominal:</strong>
  <%= @project_potential.nominal %>
</p>

<p>
  <strong>Lini bisnis:</strong>
  <%= @project_potential.lini_bisnis %>
</p>

<p>
  <strong>Jadwal perkiraan tender:</strong>
  <%= @project_potential.jadwal_perkiraan_tender %>
</p>

<p>
  <strong>Durasi proyek:</strong>
  <%= @project_potential.durasi_proyek %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @project_potential.remark %>
</p>

<p>
  <strong>Konfirmasi:</strong>
  <%= @project_potential.konfirmasi %>
</p>

<p>
  <strong>Informasi tambahan:</strong>
  <%= @project_potential.informasi_tambahan %>
</p>

<%= link_to 'Edit', edit_project_potential_path(@project_potential) %> |
<%= link_to 'Back', project_potentials_path %>
