<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row justify-content-between">
        <div class="col align-items-center pt-2">
          <h6 class="font-weight-bold">Data Perusahaan</h6>
        </div>
      </div>
    </div>
    <br>
    <div class="card-body py-3">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td width="30%">Kategori</td>
            <td><%= @data_company.category.try(:name) %></td>
          </tr>
          <tr>
            <td width="30%">Klaster</td>
            <td><%= @data_company.cluster%></td>
          </tr>
          <tr>
            <td width="30%">Nama Entitas</td>
            <td><%= @data_company.nama_entitas%></td>
          </tr>
          <tr>
            <td width="30%">Area</td>
            <td><%= @data_company.area%></td>
          </tr>
          <tr>
            <td width="30%">Lokasi Kerja</td>
            <td><%= @data_company.lokasi_kerja%></td>
          </tr>
          <tr>
            <td width="30%">Alamat</td>
            <td><%= @data_company.alamat%></td>
          </tr>
           <tr>
            <td width="30%">Website</td>
            <td><%= @data_company.website%></td>
          </tr>
          <tr>
            <td width="30%">Daftar Pekerjaan</td>
            <td><%= @data_company.daftar_pekerjaan %>
            </td>
          </tr>
          <tr>
            <td width="30%">Keterangan</td>
            <td><%= @data_company.keterangan %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer py-3 ">
      <a href="<%= data_companies_path %>" class="btn btn-info">Kembali</a>
    </div>
  </div>
</div>