<style>
 .modal-backdrop { display: none; } 
 /* .modal { background: rgba(0,0,0,0.5); }  */
</style>
<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3 text-primary">
      <h4>Contact</h4>
      <div class="card-header-form">
        <% if current_user.can? { |permissions| permissions.contact.create? } %>
        <div class="align-items-center">
          <a href="<%= new_contact_path %>" class="btn btn-primary btn-sm">+ Contact</a>
        </div>
        <% end %>  
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="tableExport_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
          <table id="dataTable_contacts" class="table table-bordered" >  
            <%= form_tag(:action => :index) do %>
              <%= select_tag "data_company", options_for_select(@category),{class: "form-control select col-md-3 filter" ,prompt: "-- Pilih Kategori --"} %>
            <% end %>
            <br>  
            <thead>
                <tr>
                  <th class="text-center" style="width: 12px;">No</th>
                  <th>Kategori</th>
                  <th>Klaster</th>
                  <th>Nama Entitas</th>
                  <th>Satuan Kerja</th>
                  <th>Lokasi Kerja</th>
                  <th>Nama PIC</th>
                  <th>Jabatan PIC</th>
                  <th>Email PIC</th>
                  <th>Kontak PIC</th>
                  <th>Unggah Foto</th>
                  <th>Keterangan</th>
                  <th class="text-center" style="width: 100px;">Aksi</th>
                </tr>
            </thead>
            
            <tbody>
            <% @contacts.each_with_index do |contact, index| %>
                <tr>
                  <td class="text-center"><%= index+1 %></td>
                  <td><%= contact.category.try(:name) %></td>
                  <td><%= contact.try(:cluster) %></td>
                  <td><%= contact.try(:nama_entitas) %></td>
                  <td><%= contact.try(:satuan_kerja) %></td>
                  <td><%= contact.try(:lokasi_kerja) %></td>
                  <td><%= contact.try(:nama_pic) %></td>
                  <td><%= contact.try(:jabatan_pic) %></td>
                  <td><%= contact.try(:emaiil_pic) %></td>
                  <td>0<%= contact.try(:kontak_pic).to_i %></td>
                  <td>
                    <!-- Modal -->
                      <% if contact.file_lampiran.attached? %>
                      <!-- Button trigger modal -->
                        <a data-toggle="modal" data-target="#exampleModal" class="fas fa-eye"></a>
                      <% contact.file_lampiran.each do |lampiran| %>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"><%=lampiran.filename%></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <span style="margin-right: 10px">
                                <%# <%= link_to "", rails_blob_path(lampiran, disposition: 'preview'), :target => "_bnk"  %> 
                                <%# <%= image_tag(lampiran) %> 
                                <%= image_tag(lampiran, size: "350x250", class:"img-fluid rounded mx-auto d-block")%>
                                  <br>
                                </span>
                              
                              </div>
                              <div class="modal-footer">
                                <%# <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> %>
                                <%# <button type="button" class="btn btn-primary">Download</button> %>
                                
                                <%= link_to 'Download', rails_blob_path(lampiran, disposition: "attachment"), :class => "btn btn-primary" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                      <% end %>
                  </td>
                  <td><%= contact.try(:keterangan) %></td>
                  <td class="text-center">
                    <% if current_user.can? { |permissions| permissions.contact.read? } %>
                    <a href="<%= contact_path(contact) %>" class="btn btn-info btn-circle btn-sm">
                      <i class="fas fa-eye"></i>
                    </a>
                    <% end %>
                    <% if current_user.can? { |permissions| permissions.contact.update? } %>
                    <a href="<%= edit_contact_path(contact) %>" class="btn btn-warning btn-circle btn-sm">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
                    <% end %>
                    <% if current_user.can? { |permissions| permissions.contact.destroy? } %>
                    <a href="<%= contact_path(contact) %>" class="btn btn-danger btn-circle btn-sm" data-method="DELETE" data-confirm="Are you sure?">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                    <% end %>
                  </td>
                </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>  
</div>


<script>

    $(document).ready(function() {
      
        var table = $('#dataTable_contacts').DataTable( {
           "drawCallback": function( settings ) {
                var api = this.api();
        
                // Output the data for the visible rows to the browser's console
                cek = api.rows( {page:'current'} ).data();
                // console.log(cek)
                 if (cek != "error"){
                  // console.log(cek)
                  cek.map(myFunction); //https://www.w3schools.com/js/js_array_iteration.asp
              }
            },

            
            lengthChange: false,
            // buttons: ['excel', 'pdf', 'print' ]
            buttons: [
              {
                  
                  extend: 'collection',
                  className: "btn btn-primary",
                  text: '-- Download --',
                  
                  buttons: [
                      { 
                          className: "my-1",
                          extend: 'excel',
                        //   exportOptions: {
                        //   rows: { selected: true }
                        // }
                      },
                      {
                          className: "my-1",
                          extend: 'pdf',
                          
                          
                      },
                      
                      
                      // {
                      //     collectionTitle: 'Visibility control',
                      //     extend: 'colvis'
                      // }
                  ]
                  
              }
            ],
            columnDefs:[
             {
               columnDefs: [10],
             }
            ]
        
        });
    
        // $('#example').dataTable( {
        //     "drawCallback": function( settings ) {
        //         alert( 'DataTables has redrawn the table' );
        //     }
        // } );

        $("#dataTable_contacts_wrapper .col-md-6:eq(0)").append($(`\   <div class="">
                <div class="dropdown d-inline mr-2">
                 <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  -- Download --
                 </button>
                 <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                   <div class="m-2">
                      <%= link_to 'PDF', url_for(controller: :contacts, action: :cetak_pdf, format: "pdf"), class: 'dropdown-item btn btn-danger', target: '_blank' %>
                     <%# <button class="dropdown-item btn btn-danger" href="#">PDF</button> %>
                   </div>
                   <div class="m-2">
                     <button class="dropdown-item btn btn-success" href="#">Excel</button>
                   </div>
                 </div>
                </div>
              </div>  `));

        // table.buttons()
        // .container()
        // .appendTo( '#dataTable_contacts_wrapper .col-md-6:eq(0)');
          
        $('.filter').on('change', function(e){
          var status = $(this).val();
          $('.filter').val(status)
          // console.log(status)
          //dataTable.column(5).search('\\s' + status + '\\s', true, false, true).draw();
          table.column(1).search(status).draw();
        });
    });

        
      function myFunction(value){
       console.log(value)
      // $(".sales").append(new Option(value));
   
   
      }

    
</script>
