<style>
#files-area{
	width: 30%;
	margin: 0 auto;
}
.file-block{
	border-radius: 10px;
	background-color: rgba(144, 163, 203, 0.2);
	margin: 5px;
	color: initial;
	display: inline-flex;
	& > span.name{
		padding-right: 10px;
		width: max-content;
		display: inline-flex;
	}
}
.file-delete{
	display: flex;
	width: 24px;
	color: initial;
	background-color: #6eb4ff00;
	font-size: large;
	/* justify-content: left; */
	margin-right: 3px;
	cursor: pointer;
	&:hover{
		background-color: rgba(144, 163, 203, 0.2);
		border-radius: 10px;
	}
	& > span{
		transform: rotate(45deg);
	}
}

</style>

<div class="row" style="justify-content: center;" >
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
      
      <%# <%= @cek.inspect%> 

        <%= form_for @sales_visit_plan, multipart: true do |f| %>
          <% if @sales_visit_plan.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@sales_visit_plan.errors.count, "error") %> prohibited this site_project from being saved:</h2>
              <ul>
              <% @sales_visit_plan.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          
          <div class="form-row">
             <div class="form-group col">
              <label for="intpuCluster">Nama Entitas/Lokasi Pengadaan*</label>
              <%# <%= f.collection_select :data_company_id, DataCompany.all, :id, :nama_entitas, {prompt: "-- Pilih Entitas --"}, class: 'form-control', id: 'category', :required => true  %> 
              <%# <%= f.text_field :nama_entitas_lokasi_pengadaan, class: "form-control",:required => true  %> 
              <%= f.text_field :nama_entitas_lokasi_pengadaan, list: "nama_entitas" , class: "form-control select-company"%>
               <%# <input type="number" name="sales_visit_plan[data_company_id]" class="form-control select-company" id="company_id"> %>
              <%# <%= f.text_field :contact_id, id: "contact_id" , class: "form-control select-company-contact" %>
              <%= f.hidden_field :data_company_id, id: "company_id" , class: "form-control select-company" %>
              <datalist id="nama_entitas" >
                <%= f.collection_select :id, DataCompany.all, :nama_entitas, :id, {prompt: "-- Pilih Entitas --"}, class: 'form-control', id: 'company-id', :required => true, :onchange => "select_company()" %> 
              </datalist>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label>Kategori*</label>
              <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "-- Pilih Kategori --"}, class: 'form-control category', id: 'category', :required => true  %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Dekripsi Pekerjaan</label>
              <%= f.text_field :deksripsi_pekerjaan, class: "form-control" %>
            </div>
          </div> 

          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Jenis Pekerjaan</label>
               <%= f.select :jenis_pekerjaan, ["Get", "Keep/Grow", "Win Back", "Partnership"], {prompt: "-- Pilih Keterangan --"}, class: "form-control" %>
              <%# <%= select_tag :jenis_pekerjaan, options_for_select(["Get", "Keep/Grow", "Win Back", "Partnership"], params[:pilih_jenis_pekerjaan]), prompt: "-- Pilih --", class: "form-control",:required => true, name: "sales_visit_plan[jenis_pekerjaan]" %> 
              <%# <%= f.text_field :jenis_pekerjaan, class: "form-control" %> 
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Kluster*</label>
              <%= f.text_field :cluster, class: "form-control cluster",:required => true  %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Estimasi Tgl Pertemuan</label>
              <%= f.date_field :estimasi_tgl_peretemuan, class: "form-control" %>
            </div>
          </div>

          <%# <%= f.select :minggu_kunjungan, ['Minggu 1', 'Minggu 2', 'Minggu 3', 'Minggu 4'], {prompt: "--Pilih --"}, {:class => 'form-control m-b', required: "true"} %> 
   
           <div class="form-row">
             <div class="form-group col">
              <label for="intpuCluster">Minggu Kunjungan*</label>
              <%if @sales_visit_plan.new_record?%>
              <%= select_tag :pilihan, options_for_select(["Minggu 1", "Minggu 2", "Minggu 3", "Minggu 4"], params[:pilihan]), prompt: "-- Pilih --", class: "form-control",:required => true %>
              <%else%>
                  <%# <%= @cek_minggu.inspect%>
                  <select class="form-control" id="pekerja" value="<%=params[:pilihan]%>" onclick="select_pekerja()">
                   <% if  @sales_visit_plan.minggu1.present? || @sales_visit_plans.minggu2.present? || @sales_visit_plans.minggu3.present? || @sales_visit_plans.minggu4.present? %>
                      <%if @cek_minggu.to_s.gsub('"','').gsub(']','').gsub('[','') == "Minggu 1"%>
                        <option value="<%=@cek_minggu.to_s.gsub('"','').gsub(']','').gsub('[','')%>" selected><%=@cek_minggu.to_s.gsub('"','').gsub(']','').gsub('[','')%></option>
                        <option value="Minggu 2">Minggu 2</option>
                        <option value="Minggu 3">Minggu 3</option>
                        <option value="Minggu 4">Minggu 4</option>
                      <%elsif @cek_minggu.to_s.gsub('"','').gsub(']','').gsub('[','') == "Minggu 2"%>
                        <option value="Minggu 1">Minggu 1</option>
                        <option value="<%=@cek_minggu.to_s.gsub('"','').gsub(']','').gsub('[','')%>" selected><%=@cek_minggu.to_s.gsub('"','').gsub(']','').gsub('[','')%></option>
                        <option value="Minggu 3">Minggu 3</option>
                        <option value="Minggu 4">Minggu 4</option>
                      <%elsif @cek_minggu.to_s.gsub('"','').gsub(']','').gsub('[','') == "Minggu 3"%>
                        <option value="Minggu 1">Minggu 1</option>
                        <option value="Minggu 2">Minggu 2</option>
                        <option value="<%=@cek_minggu.to_s.gsub('"','').gsub(']','').gsub('[','')%>" selected><%=@cek_minggu.to_s.gsub('"','').gsub(']','').gsub('[','')%></option>
                        <option value="Minggu 4">Minggu 4</option>
                      <%else%>
                        <option value="Minggu 1">Minggu 1</option>
                        <option value="Minggu 2">Minggu 2</option>
                        <option value="Minggu 3">Minggu 3</option>
                        <option value="<%=@cek_minggu.to_s.gsub('"','').gsub(']','').gsub('[','')%>" selected><%=@cek_minggu.to_s.gsub('"','').gsub(']','').gsub('[','')%></option>
                      <%end%>
                    <% else %>
                      <option value="Minggu 1">Minggu 1</option>
                      <option value="Minggu 2">Minggu 2</option>
                      <option value="Minggu 3">Minggu 3</option>
                      <option value="Minggu 4">Minggu 4</option>
                   <% end %>
                  </select>
              <%end%>  
                <%# <select name="<>" class="form-control m-b" required> %>
                  <%# <option value="Minggu 1">Minggu 1</option> %>
                  <%# <option value="Minggu 2">Minggu 2</option> %>
                  <%# <option value="Minggu 3">Minggu 3</option> %>
                  <%# <option value="Minggu 4">Minggu 4</option> %>
                <%# </select> %>
             </div>
           </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="intpuCluster">Nama </label>
              <%= f.text_field :nama, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <label>Lampiran</label>
            <%= f.file_field :file_lampiran, class: "form-control", direct_upload: true, accept: 'image/jpeg, image/jpg, image/png, application/pdf', multiple: true , :id => "file"%>          
            <p id="files-area text-left">
              <span id="filesList">
                <span id="files-names"></span>
              </span>
            </p>
            <div style="margin-top: 10px;">
              <% @sales_visit_plan.file_lampiran.each do |lampiran| %>
                <span style="margin-right: 10px">
                  <%= link_to "#{[ "#{lampiran.filename}" ]}", rails_blob_path(lampiran, disposition: 'preview'), :target => "_blank" %>
                  <%= link_to '', url_for(controller: :sales_visit_plans, action: :delete_file_lampiran, attachment_id: lampiran.id), class: 'fas fa-trash', method: "DELETE", data: { confirm: 'Are you sure?' } %>
                  <br>
                </span>
              <% end %>
            </div>
          </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-primary px-3 pull-right">Submit</button>
           <%# <button type="submit" class="btn btn-primary px-3 pull-right">Next</button> %>
            <a href="<%= activity_sales_path %>" class="btn btn-light pull-left">Cancel</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    // multiple upload
    const dt = new DataTransfer(); // Permet de manipuler les fichiers de l'input file

    $("#file").on('change', function(e){
              if(this.files[0].size > 1000000){ // byte->1mb 
          alert("File is too big!");
          this.value = "";
        }; 
      for(var i = 0; i < this.files.length; i++){
        let fileBloc = $('<span/>', {class: 'file-block'}),
          fileName = $('<span/>', {class: 'name', text: this.files.item(i).name});
        fileBloc.append('<span class="file-delete"><span>x</span></span>')
          .append(fileName);
        $("#filesList > #files-names").append(fileBloc);


      };
      // Ajout des fichiers dans l'objet DataTransfer
      for (let file of this.files) {
        dt.items.add(file);
      }
      // Mise à jour des fichiers de l'input file après ajout
      this.files = dt.files;

      // EventListener pour le bouton de suppression créé
      $('span.file-delete').click(function(){
        let name = $(this).next('span.name').text();
        // Supprimer l'affichage du nom de fichier
        $(this).parent().remove();
        for(let i = 0; i < dt.items.length; i++){
          // Correspondance du fichier et du nom
          if(name === dt.items[i].getAsFile().name){
            // Suppression du fichier dans l'objet DataTransfer
            dt.items.remove(i);
            continue;
          }
        }
        // Mise à jour des fichiers de l'input file après suppression
       document.getElementById('attachment').files = dt.files;
      });
    });

    // limit file upload
    // var uploadField = document.getElementById("file");

    // uploadField.onchange = function() {
    //   // 100 MB
    //     if(this.files[0].size > 1000000){
    //       alert("File is too big!");
    //       this.value = "";
    //     };
    // };

    select_company();
    function select_company() { 
      $('.select-company').change(function(){
            if ($(this).val() !== '') {
                const value = $(this).val();
               
        //  console.log(value)
              $.getJSON("/helper_json/" +value+ "/getDataCompany",
               function ( callback ) {
                if (callback != "error"){
                    $('#company_id').val(callback).change();
                  callback.map(myFunction); //https://www.w3schools.com/js/js_array_iteration.asp
                }
              });
            }
      });
      $('.select-company-contact').change(function(){
            if ($(this).val() !== '') {
                const value = $(this).val();
               
        //  console.log(value)
              $.getJSON("/helper_json/" +value+ "/getDataContact",
               function ( contact ) {
                if (contact != "error"){
                    $('#contact_id').val(contact).change();
                  contact.map(myFunctionContact); //https://www.w3schools.com/js/js_array_iteration.asp
                }
              });
            }
      });
    }
    function myFunction(value){
      // console.log(value)
      $.getJSON("/helper_json/" +value+ "/getDataCompanyCluster",
      
               function ( callback ) {
                if (callback != "error"){
                  // console.log(callback)
                   id = $('.cluster').val(callback).change();
                }
      });
           $.getJSON("/helper_json/" +value+ "/getDataCompanyCategory",
      
               function ( callback ) {
                if (callback != "error"){
                  // console.log(callback)
                   id = $('.category').val(callback).change();
                }
      });
    }

    function myFunctionContact(value){
      // console.log(value)
      $.getJSON("/helper_json/" +value+ "/getDataContactCluster",
      
               function ( callback ) {
                if (callback != "error"){
                  // console.log(callback)
                   id = $('.cluster').val(callback).change();
                }
      });
           $.getJSON("/helper_json/" +value+ "/getDataContactCategory",
      
               function ( callback ) {
                if (callback != "error"){
                  // console.log(callback)
                   id = $('.category').val(callback).change();
                }
      });
    }

    

    
</script>