<div class='disable_input'>
  <div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Form Rencana Kunjungan Sales</h1>
    <hr>
    <%= render "review" %>
    <div class="mb-4">
      <%# <a class="btn btn-primary" id="catatan">+Catatan</a> %>
      <a class="btn btn-primary" id="catatan" href="#" role="button">+Catatan</a>
    </div>
  <%= form_for :sales_visit_plan, url: review_rencana_sales_visit_plan_path, method: :post, html: {class: "form-horizontal", role: "form"} do |f| %>
  <%# <%= form_for @sales_visit_plan, multipart: true do |f| %>
    <div class="card shadow mb-4 " id="form-catatan" >
          <% if @sales_visit_plan.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@sales_visit_plan.errors.count, "error") %> prohibited this site_project from being saved:</h2>
              <ul>
              <% @sales_visit_plan.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          
          <div class="card-header py-3">
            <div class="row justify-content-between">
              <div class="col align-items-center pt-2">
                <h6 class="font-weight-bold">Review  </h6>
              </div>
            </div>
          </div>
              
          <br>

          <div class="card-body ">
            <table class="table table-bordered">
              <tbody>
                <div class="form-row">
                  <div class="form-group col text-center">
                     <%= f.text_area(:catatan, size: '172x10', class: '')%>
                  </div>
                </div>
               
              </tbody>
            </table>
          </div>
    </div> 
  </div>
     <div class=" py-3 pr-3 ">
     <a href="<%= rekap_activity_sales_path %>" class="btn btn-info pull-right ml-2">Kembali</a>
     <button type="submit" class="btn btn-primary px-3 pull-right">Submit</button>
   </div>
<%end%>
</div>


<script>
$(document).ready(function () {
    // $('.disable_input :input').prop('disabled', true);
    $("#form-catatan").hide();
    $("#catatan").on('click', function(){
        $("#form-catatan").toggle('slow');
    })
});
</script>