<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row justify-content-between">
        <div class="col align-items-center pt-2">
          <h6 class="font-weight-bold">Rencana Kunjungan Sales </h6>
        </div>
      </div>
    </div>
    <br>
    <div class="card-body py-3">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td width="30%">Kategori</td>
            <td><%= @sales_visit_plan.category.try(:name) %></td>
          </tr>
          <tr>
            <td width="30%">Nama Entitas Lokasi Pengadaan</td>
            <td><%= @sales_visit_plan.nama_entitas_lokasi_pengadaan%></td>
          </tr>
          <tr>
            <td width="30%">Jenis Pekerjaan</td>
            <td><%= @sales_visit_plan.jenis_pekerjaan%></td>
          </tr>
          <tr>
            <td width="30%">Klaster</td>
            <td><%= @sales_visit_plan.cluster%></td>
          </tr>
          <tr>
            <td width="30%">Estimasi Tgl Pertemuan</td>
            <td><%= @sales_visit_plan.estimasi_tgl_peretemuan%></td>
          </tr>
          <tr>
            <td width="30%">Nama</td>
            <td><%= @sales_visit_plan.nama%></td>
          </tr>
          <tr>
            <td width="30%">File Lampiran</td>
              <td>
              <% if @sales_visit_plan.file_lampiran.attached? %>
                <% @sales_visit_plan.file_lampiran.each do |lampiran| %>
                 <span style="margin-right: 10px">
                  <%= link_to "#{[ "#{lampiran.filename}" ]}", rails_blob_path(lampiran, disposition: 'preview'), :target => "_blank" %>
                  <%= link_to '', url_for(controller: :sales_visit_plans, action: :delete_file_lampiran, attachment_id: lampiran.id), class: 'fa fa-close', method: "DELETE", data: { confirm: 'Are you sure?' } %>
                  <br>
                </span>
                <% end %>
              <% end %>
            </td>
          </tr>


        </tbody>
      </table>
    </div>
    <div class="card-footer py-3 ">
      <a href="<%= activity_sales_path %>" class="btn btn-info">Kembali</a>
    </div>
  </div>
</div>